@font-face {
    font-family: Proza;
    src: url("/static/fonts/Proza-Regular.otf") format("opentype");
}

:root {
  --body-color                 : rgba(48,40,48,1.00);
  --general-bg-color-dim       : rgba(24,20,24,0.35);

  --form-fg                    : rgba(255,255,255,1);
  --form-fg-disabled           : rgba(255,255,255,0.5);
  --form-fg-error              : rgba(255,255,255,1);
  --form-bg                    : rgba(24,20,24,1.00);
  --form-bg-disabled           : rgba(24,20,24,0.5);
  --form-bg-error              : rgba(255,0,0,0.5);
  --form-bg-danger             : rgba(255,0,0,0.5);
  --form-border                : rgba(128,128,128,1);
  --form-border-focus          : rgba(128,220,160,1);  /*steelblue*/

  --general-hl-color-dim       : rgba(70,130,180,0.35);
  --general-hl-color           : rgba(70,130,180,0.55);
  --general-hl-color-bright    : rgba(70,130,180,0.85);
  --general-hl-color-max       : rgba(70,130,180,1.00);

  --css-dropdown-width         : 300px;
  --stage-dropdown-width       : 380px;
  --stage-dropdown-image-width : 100px;
  --header-height              : 48px;
  --form-button-height         : 32px;

  --color-EDGEGUARDING         : hsla(120,100%, 75%,0.45);
  --color-PRESSURING           : hsla(60, 100%, 75%,0.45);
  --color-PUNISHING            : hsla(30, 100%, 75%,0.45);
  --color-TECHCHASING          : hsla(300,100%, 75%,0.45);
  --color-SHARKING             : hsla(240,100%, 75%,0.45);
  --color-DEATH                : hsla(0,    0%,100%,0.45);
  --color-POKING               : hsla(0,    0%, 50%,0.45);
  --color-DEFENSE              : hsla(0,  100%, 75%,0.45);
}

/* Get rid of dotted line on focus */
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

body {
  color            : white;
  background-color : var(--body-color);
  font-family      : 'Proza';
  margin           : 0;
  overflow-y       : hidden;  /* To deal with tooltip weirdness */
}

a {
  /*color: rgba(120,120,255,1.0);*/
  color   : var(--general-hl-color-max);
  outline : 0;
}

a:visited {
  /*color: rgba(160,0,160,1.0);*/
  color: var(--general-hl-color-max);
}

code {
  display     : block;
  text-align  : left;
  white-space : pre-wrap;
}

form {
  margin: 0;
}

input, button, .fake-button {
  height           : var(--form-button-height);
  color            : var(--form-fg);
  background-color : var(--form-bg);
  text-align       : center;
  border-top       : 1px solid transparent;
  border-bottom    : 1px solid transparent;
  border-right     : 4px solid var(--form-border);
  border-left      : 4px solid var(--form-border);
  border-radius    : 4px;
  margin           : 4px 0;
  cursor           : pointer;
  font-weight      : bold;
}

button.inline {
  height    : inherit;
  font-size : inherit;
  margin    : 0;
}

button.standout {
  background-color   : var(--general-hl-color-bright);
  /*background-color : var(--form-bg-active);*/
  padding-left       : 4px;
  padding-right      : 4px;
  text-shadow        :
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

button.standout::before {
  content      : "➤";
  margin-right : 0px;
}

button.missing, button.missing:disabled {
  color            : var(--form-fg-error);
  background-color : var(--form-bg-error);
}

button.hasinfo, button.hasinfo:disabled {
  cursor: help;
}

button.hasinfo::after {
  /*content: " \25b6";*/
  content: "*";
  /*border-left: 1px solid rgba(255,255,255,0.25);*/
  padding: 0 4px;
  /*margin-left: 4px;*/
}

input:disabled, button:disabled {
  color            : var(--form-fg-disabled);
  background-color : var(--form-bg-disabled);
}

input:hover:enabled, button:hover:enabled {
  border-color: var(--general-hl-color-bright);
}

input:enabled:focus, button:enabled:focus, input:hover:enabled:focus, button:hover:enabled:focus {
  /*border-top    : 1px solid var(--form-border-focus);*/
  /*border-bottom : 1px solid var(--form-border-focus);*/
  /*border-color  : var(--form-border-focus);*/
}

button:disabled {
  cursor: default;
}

button.has-dropdown::after {
  content : "\25BC";
  display : inline-block;
  width   : 20px;
  color   : var(--general-hl-color-dim);
}

button.has-dropdown.noarrow::after {
  content: none;
}

input[type="submit"], .fake-submit {
  font-weight      : bold;
  color            : var(--form-bg);
  background-color : var(--form-fg);
  /*border-right  : 4px solid var(--form-border);*/
  /*border-left   : 4px solid var(--form-border);*/
}

input[type="submit"]:disabled, .fake-submit:disabled {
  color            : var(--form-bg-disabled);
  background-color : var(--form-fg-disabled);
  cursor           : default;
}

input[type="text"]::placeholder {
  /*color: rgba(255,255,255,0.75);*/
  font-weight : bold;
  opacity     : 1;
}

input[type="text"].placeholderLabel::placeholder {
  text-align : center;
  font-size  : 20px;
  color      : white;
}

input[type="text"]:focus {
  cursor: initial;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

button img {
  max-height: 100%;
  max-width: 100%;
}

#bodyWrapper {
  height        : auto;
  top           : calc(var(--header-height) + 1px);
  bottom        : 40px;
  position      : fixed;
  width         : 100%;

  /*overflow-x    : hidden;*/
  overflow-y    : auto;
  /*padding-right : 15px;*/
  text-align    : center;
}

#bodyContainer {
  /* Causes rendering issues */
  /*display: inline-block; */
  /* Works better than inline-block, but untested */
  display : inline;
  margin  : 0;
  outline : none; /* Disable border when focused */
  width   : 100%;
}

header {
  height           : var(--header-height);

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : inline;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;
  margin           : 0 auto;

  width            : 100%;
  left             : 50%;
  margin-left      : -50%;

  background-color : black;
  top              : 0;
}

header img {
  height: calc(var(--header-height) * 0.80);
}

footer {
  height           : 36px;

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : flex;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;

  left             : 0;
  /*bottom         : 10px;*/
  bottom           : 0px;
  width            : 100%;
  overflow         :hidden;
  background-color : black;
}

hr {
  border-top: 1px solid rgba(255,255,255,0.2);
  width: 100%;
}

.ni-home     img { filter: drop-shadow(0px 0px 5px cyan)   drop-shadow(0px 0px 1px lightgray) ; }
.ni-mu       img { filter: drop-shadow(0px 0px 5px red)    drop-shadow(0px 0px 1px lightgray) ; }
.ni-scan     img { filter: drop-shadow(0px 0px 5px yellow) drop-shadow(0px 0px 1px lightgray) ; }
.ni-settings img { filter: drop-shadow(0px 0px 5px orange) drop-shadow(0px 0px 1px lightgray) ; }
.ni-stats    img { filter: drop-shadow(0px 0px 5px violet) drop-shadow(0px 0px 1px lightgray) ; }
.ni-organize img { filter: drop-shadow(0px 0px 5px lime)   drop-shadow(0px 0px 1px lightgray) ; }

.navbar_top {
  display               : inline-grid;
  grid-template-areas   : "ticon title links";
  grid-template-columns : min-content auto auto;
  align-items           : center;
  width                 : 100%;
  height                : 100%;
  grid-column-gap       : 10px;
}

span#navbar_title {
  grid-area: title;
}

span#navbar_links {
  grid-area    : links;
  justify-self : right;
  align-self   : center;
}

#navbar_title {
  grid-area    : title;
  justify-self : left;

  color        : white;
  font-size    : calc(var(--header-height) / 2);
  font-family  : 'Proza';
  font-weight  : bold;
}

#site_header_icon {
  justify-self : left;
  grid-area    : ticon;
  filter       : drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 1px lightgray) ;
  margin-left  : 10px;
  height       : calc(var(--header-height));
}

span#site_header_icon img {
  height: calc(var(--header-height));
}

.navbar_bottom {
  color: white;
}

.nav_top_label {
  margin: 0 10px;
}

a.nav_top_link {
  display             : inline-grid;
  grid-template-areas : "icon label";
  margin              : 0 10px;
}

a.nav_top_link img   {
  grid-area: icon;
}

a.nav_top_link label {
  grid-area      : label;
  align-self     : center;
  color          : white;
  font-size      : calc(var(--header-height) / 2);
  vertical-align : middle;
  font-family    : 'Proza';
  font-weight    : bold;
  /*font-style     : italic;*/
  cursor         : pointer;
}

a {
   outline: 0;
}

.left_aligned {
  text-align: left;
}

span.flex-row {
  display         : flex;
  justify-content : center;
}

img.dead {
  opacity: 0.3;
}

td.stage {
  /*display:block;*/
  /*object-fit: cover;*/
  width               : 200px;
  height              : 25px;
  background-position : -25px -60px;
  text-shadow         :
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

span.stacked-bar-graph span {
    display     : inline-block;
    height      : 100%;
    box-sizing  : border-box;
    float       : left;
    color       : #fff;
    font-weight : bold;
    font-family : arial, sans-serif;
    padding     : 10px 0;
}

tr.padrow {
  height: 20px;
}

td.align-left   { text-align: left; }
td.align-center { text-align: center; }
td.align-right  { text-align: right; }

.interaction {
  transition: opacity 0.5s;
  opacity: 0.3;
}

.interaction:hover {
  opacity: 1.0;
}

.int_EDGEGUARDING { background-image: linear-gradient(to top, indigo,     indigo     33%, lime           34%); }
.int_TECHCHASING  { background-image: linear-gradient(to top, darkorchid, darkorchid 33%, lime           34%); }
.int_PUNISHING    { background-image: linear-gradient(to top, blue,       blue       33%, lime           34%); }
.int_SHARKING     { background-image: linear-gradient(to top, cyan,       cyan       33%, lime           34%); }
.int_PRESSURING   { background-image: linear-gradient(to top, green,      green      33%, lime           34%); }
.int_FOOTSIES     { background-image: linear-gradient(to top, darkgray,   darkgray   33%, lightsteelblue 34%); }
.int_POSITIONING  { background-image: linear-gradient(to top, white,      white      33%, lightsteelblue 34%); }
.int_POKING       { background-image: linear-gradient(to top, gray,       gray       33%, lightsteelblue 34%); }
.int_TRADING      { background-image: linear-gradient(to top, lightgray,  lightgray  33%, lightsteelblue 34%); }
.int_PRESSURED    { background-image: linear-gradient(to top, gold,       gold       33%, hotpink        34%); }
.int_GROUNDING    { background-image: linear-gradient(to top, olive,      olive      33%, hotpink        34%); }
.int_PUNISHED     { background-image: linear-gradient(to top, orange,     orange     33%, hotpink        34%); }
.int_ESCAPING     { background-image: linear-gradient(to top, red,        red        33%, hotpink        34%); }
.int_RECOVERING   { background-image: linear-gradient(to top, brown,      brown      33%, hotpink        34%); }

.int_OFFENSIVE    { background-color: black; }
.int_NEUTRAL      { background-color: black; }
.int_DEFENSIVE    { background-color: black; }

span#replayListing {
  display: inline-grid;
  grid-template-areas:
    "p1grid   innergrid p2grid"
}

span#intBreakdown {
  grid-area: breakdown;
}

div#replayDataOuterGrid {
  margin                : 0 8px;
  grid-template-columns : 1fr 400px 1fr;
  display               : inline-grid;
  grid-template-areas   :
    "leftbuttons mini       rightbuttons"
    "breakdown   breakdown  breakdown"
    "p1grid      innergrid  p2grid"
    ;
}

div #replayDataOuterGrid div#leftbuttonGrid {
  grid-area       : leftbuttons;
  display         : inline-grid;
  justify-content : right;
  align-content   : center;
}

div #replayDataOuterGrid div#rightbuttonGrid {
  grid-area       : rightbuttons;
  display         : inline-grid;
  justify-content : left;
  align-content   : center;
}

div#replayDataOuterGrid div.heading {
  font-weight      : bold;
  background-color : var(--general-bg-color-dim);
  border           : 1px solid var(--general-hl-color-max);
  border-radius    : 25px;
  margin           : 5px 0;
  padding          : 0 8px;
}

div#replayDataOuterGrid span.replaySummary {
  grid-area: mini;
  justify-self: center;
}

div.comboGrid {
  display        : grid;
  grid-auto-rows : min-content;
  /*grid-column-gap: 0;*/
  /*grid-row-gap: 0;*/
}

div.p1item, div.p2item {
  padding    : 0 4px;
  align-self : center;
}

div#replayPlayer1Grid div.comboGrid {
  grid-area             : movelist1;
  grid-template-columns : 48px 1fr;
}

div#replayPlayer2Grid div.comboGrid {
  grid-area             : movelist2;
  grid-template-columns : 1fr 48px;
}

div#replayPlayer1Grid, div#replayPlayer2Grid {
  display               : grid;
  grid-template-columns : auto;
  grid-template-rows    : 32px auto;
  width                 : 100%;
}
div#replayPlayer1Grid {
  justify-self        : right;
  grid-area           : p1grid;
  grid-template-areas :
    "moves1"
    "movelist1"
    ;
}

div#replayPlayer2Grid {
  justify-self        : left;
  grid-area           : p2grid;
  grid-template-areas :
    "moves2"
    "movelist2"
    ;
}

div#replayDataGrid {
  height                : 0;
  margin                : 0 16px;
  display               : grid;
  grid-area             : innergrid;
  grid-column-gap       : 8px;
  grid-template-columns : 1fr auto 1fr;
  grid-auto-flow        : dense;
}
div#replayDataGrid .heading { grid-column: 1 / 4; }
div#replayDataGrid .p1item  { grid-column: 1; }
div#replayDataGrid .stat    { grid-column: 2; }
div#replayDataGrid .p2item  { grid-column: 3; }

.hl-green { background-color: rgba(128,255,128,0.25); }
.hl-red   { background-color: rgba(255,128,128,0.25); }

span.comboWrapper {
  /*display: inline-block;*/
  /*background-color: yellow;*/
  padding      : 6px 16px;
  align-self   : center;
  justify-self : center;
}

span.comboResult {
  align-self       : center;
  justify-self     : center;
  border           : 1px solid black;
  border-radius    : 6px;
  background-color : rgba(255,255,255,0.2);
  padding          : 1px 2px;
  margin           : 1px;
  width            : 100%;
  text-shadow      :
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8);
}

span.comboResult span.timer {
  font-size: 12px;
}

span.combomoveWrapper {
  display   : inline-block;
  transform : skewX(-10deg);
  border    : 1px solid var(--general-hl-color-dim);
  padding   : 2px 8px;
  margin    : -1px -2px 0 -2px;
  /*border: 1px solid black;*/
  /*border-radius: 4px;*/
}

span.combomove {
  transform   : skewX(10deg);
  display     : inline-block;
  white-space : nowrap;
  text-shadow :
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8);
  /*margin: 1px 0;*/
  /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
  /*line-height: 32px;*/
}

div.empty {
  height: 8px;
}

span.combomove img {
  white-space    :nowrap;
  vertical-align : text-bottom;
}

img.killicon {
  height: 21px;
}

span.bigcombo {
  color       : yellow;
  font-weight : bold;
}

span.hugecombo {
  color       : red;
  font-weight : bold;
}

span.replaySummary {
  border              : 4px solid rgba(0,0,0,0.5);
  border-radius       : 8px;
  margin              : 10px;
  display             : inline-grid;
  grid-template-areas :
    "p1tag    stagegrid p2tag"
    "p1stats  stagegrid p2stats"
    "p1stats  .         p2stats"
    ;
}

span.replaySummary:hover {
  border: 4px solid var(--general-hl-color-bright);
}

span.hoverWrapper {
  /*display: inline-block;*/
  display: inline-grid;
  /*overflow: hidden;*/
}

span.hoverWrapper:hover span.replayStageGrid {
  /*transform: scale(1.1);*/
  /*pointer-events: none;*/
}

span.replayStageGrid {
  width                 : 250px;
  height                : 150px;
  grid-area             : stagegrid;
  display               : inline-grid;
  grid-template-columns : 50px 1fr 1fr 1fr 1fr 1fr 50px;
  font-size             : 14px;
  grid-template-areas   :
    "filename filename filename filename filename filename filename"
    "p1char   .        .        .        .        .        p2char"
    /*"p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"*/
    "p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"
    "p1stocks p1stocks p1stocks vs       p2stocks p2stocks p2stocks"
    ;
}

a.nostyle:link {
    text-decoration : inherit;
    color           : inherit;
    /*cursor: auto;*/
}

a.nostyle:visited {
    text-decoration : inherit;
    color           : inherit;
    /*cursor: auto;*/
}

span.rs-timer, span.rs-filename, span.rs-tag1, span.rs-tag2 {
  text-shadow:
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
 }

span.rs-timer {
  grid-area: timer;
}

span.rs-filename {
  grid-area        : filename;
  width            : 240px;
  padding          : 0 5px;
  white-space      : nowrap;
  overflow         : hidden;
  text-overflow    : ellipsis;
  justify-self     : center;
  background-image : linear-gradient(to bottom, rgba(0,0,0,0.65), transparent);
}

span.rs-vs      { grid-area: vs; }
span.rs-stocks1 { grid-area: p1stocks; }
span.rs-stocks2 { grid-area: p2stocks; }
span.rs-stocks1, span.rs-stocks2, span.rs-vs {
  align-self: end;
}

span.rs-stocks1 img.dead, span.rs-stocks2 img.dead {
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

span.rs-tag1, span.rs-tag2 {
  align-self    : center;
  padding       : 4px 2px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
}

img.rs-win1, img.rs-win2 {
  height: 24px;
}
img.rs-win1 { grid-area: p1win; align-self: center; justify-self: center; -webkit-transform: scaleX(-1); transform: scaleX(-1); }
img.rs-win2 { grid-area: p2win; align-self: center; justify-self: center; }

span.rs-tag1 { grid-area: p1tag; text-align: left; }
span.rs-tag2 { grid-area: p2tag; text-align: right; }

span.rs-char1 img, span.rs-char2 img {
  width:  auto;
  height: 80px;
}
span.rs-char1 { grid-area: p1char; justify-self: start; }
span.rs-char2 { grid-area: p2char; justify-self: end; -webkit-transform: scaleX(-1); transform: scaleX(-1); }

.op-EDGEGUARDING { background-color: var(--color-EDGEGUARDING); }
.op-PRESSURING   { background-color: var(--color-PRESSURING); }
.op-PUNISHING    { background-color: var(--color-PUNISHING); }
.op-TECHCHASING  { background-color: var(--color-TECHCHASING); }
.op-SHARKING     { background-color: var(--color-SHARKING); }
.op-DEATH        { background-color: var(--color-DEATH); }

.op-POKING       { background-color: var(--color-POKING); }
.op-POSITIONING  { background-color: var(--color-POKING); }
.op-FOOTSIES     { background-color: var(--color-POKING); }

.op-RECOVERING   { background-color: var(--color-DEFENSE); }
.op-PRESSURED    { background-color: var(--color-DEFENSE); }
.op-PUNISHED     { background-color: var(--color-DEFENSE); }
.op-ESCAPING     { background-color: var(--color-DEFENSE); }
.op-GROUNDING    { background-color: var(--color-DEFENSE); }

.dd-selected {
  padding: 4px !important;
}
.dd-option-image, .dd-selected-image {
  height       : 24px;
  float        : none !important;
  margin-right : 0 !important;
}
.dd-selected-text {
  line-height    : inherit !important;
  vertical-align : bottom;
}

#charDropDown1, #charDropDown2, #stageDropDown {
  display        : inline-block;
  vertical-align : bottom;
}

span.dd-pointer-down {
  border: none !important;
}

.hideUntilParentClicked {
  display: none;
}

.hideUntilParentClicked.unhiding {
  display    : initial;
  opacity    : 0;
  overflow   : hidden;
  transition : opacity 0.7s ease;
}

.hideUntilParentClicked.unhiding.noLongerHidden {
  opacity  : 1;
  overflow : initial;
}

#replaySearchBar {
  display: inline-block;
}

#replayListingGrid {
  display               : grid;
  grid-template-columns : 1fr auto 1fr;
  grid-column-gap       : 15px;
  align-items           : baseline;
  grid-template-areas   :
    "previous search  next"
    "dirs     dirs    dirs"
    "replays  replays replays"
    ;
}

#replayListingGrid button#prev:disabled, #replayListingGrid a#prev-a {
  grid-area: previous; justify-self: right; align-self: start;
}
#replayListingGrid button#next:disabled, #replayListingGrid a#next-a {
  grid-area: next;     justify-self: left;  align-self: start;
}

#replayListingGrid button#prev::after  { content: " Prev. Page"; }
#replayListingGrid button#next::before { content: "Next Page "; }

#replayListingGrid span#replaySearchBar {
  grid-area: search;
}

#replayListingGrid span#replayListingInnerGrid {
  grid-area: replays;
}

form#searchForm {
  grid-template-rows  : repeat(1,var(--form-button-height));
  display             : inline-grid;
  grid-template-areas :
    "search search search search search"
    "stage  p1     p1c    p1s    sort"
    "stage  p2     p2c    p2s    submit"
    "lenmin lenmin lenmax lenmax submit"
    ;
}

form#searchForm.clicked {
  grid-column-gap    : 8px;
  grid-row-gap       : 8px;
  grid-template-rows : repeat(4,var(--form-button-height));
  width              : 544px;
}

form#searchForm #s-query      { grid-area: search; }
form#searchForm #dd-submit    { grid-area: submit; }
form#searchForm #dd-p1        { grid-area: p1; }
form#searchForm #dd-p2        { grid-area: p2; }
form#searchForm #dd-p1cost    { grid-area: p1c; }
form#searchForm #dd-p2cost    { grid-area: p2c; }
form#searchForm #dd-p1stock   { grid-area: p1s; }
form#searchForm #dd-p2stock   { grid-area: p2s; }
form#searchForm #dd-stage     { grid-area: stage; /*height: 64px;*/ }
form#searchForm #dd-sort      { grid-area: sort; }
form#searchForm #dd-lengthmin { grid-area: lenmin; }
form#searchForm #dd-lengthmax { grid-area: lenmax; }

form#searchForm > span {
  height: 100%;
}

form#searchForm > span.unhiding {
  display: inline-flex;
}

form#searchForm span input {
  width: 100%;
}

form#searchForm button, form#searchForm input {
  width:  100%;
  height: 100%;
}

/* Magic dropdown CSS */
.dropdown-wrapper {
  position: relative; /* Give the dropdown somewhere to be positioned relative to */
}
.dropdown {
  opacity          : 0;                 /* Hide ourselves */
  pointer-events   : none;              /* Make sure we can't interact with the dropdown while it's not visible */
  position         : absolute;          /* Position it relative to the dropdown-wrapper */
  z-index          : 5;                 /* Make sure we're above most other things */
  top              : 100%;              /* By default, start it right under our parent */
  transition       : opacity 0.3s ease; /* Add a nice transition :) */
  background-color : black;
  display          : inline-grid;
  align-items      : center;
  justify-items    : center;
}
.has-dropdown:focus+.dropdown {
  opacity        : 1;       /* Restore visibility */
  pointer-events : initial; /* Restore pointer events */
}
.dropdown:hover {
  /* MAGIC! We have pointer events while our has-dropdown sibling is focused,
     but we can retain them after unfocusing the has-dropdown siblings with this magic pseudoselector.
     Minor problem: pointer events are retained after we click on something until we move the mouse*/
  opacity        : 1;
  pointer-events : initial;
}

.css-dropdown{
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);
  height                : 100px;
  grid-template-columns : repeat(9, 1fr);
}

.css-dropdown img {
  cursor: pointer;
}

.color-dropdown {
  left    : calc(50% - var(--css-dropdown-width)/2);
  width   : var(--css-dropdown-width);
  display : inline;
  height  : 33px;
  /*grid-template-columns : repeat(7, auto);*/
}

.color-dropdown img {
  cursor  : pointer;
  padding : 4px;
}

.stock-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);

  /*height                : 100px;*/
  grid-template-columns : repeat(3, 1fr);
  padding               : 4px;
}

.stock-dropdown span {
  cursor        : pointer;
  padding       : 4px;
  border        : 1px solid transparent;
  border-radius : 4px;
}

.stock-dropdown span:hover {
  border: 1px solid rgba(255,255,255,0.5);
}

.stage-dropdown {
  /*Center under parent*/
  left            : calc(50% - var(--stage-dropdown-width)/2);
  width           : var(--stage-dropdown-width);
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : center;
}

.stage-dropdown img {
  cursor        : pointer;
  width         : var(--stage-dropdown-image-width);
  border        : 2px solid rgba(255,255,255,0.2);
  border-radius : 4px;
  margin        : 4px;
  display       : inline;
}

.stage-dropdown img.mini {
  width: calc(var(--stage-dropdown-image-width) / 2);
}

.sort-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);
  grid-template-columns : repeat(1, 1fr);
}

.sort-dropdown span {
  width         : 100%;
  padding       : 10px 0;
  font-weight   : bold;
  cursor        : pointer;
  border-bottom : 1px solid rgba(255,255,255,0.5)
}

.sort-dropdown span:last-child {
  border-bottom: none;
}

.time-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);
  grid-template-columns : repeat(1, 1fr);
}

.time-dropdown span {
  width         : 100%;
  padding       : 10px 0;
  font-weight   : bold;
  cursor        : pointer;
  border-bottom : 1px solid rgba(255,255,255,0.5)
}

.time-dropdown span:last-child {
  border-bottom: none;
}

span#uploadOuterGrid {
  margin-top          : 10px;
  padding             : 10px;
  background-color    : rgba(0,0,0,0.25);
  border              : 4px solid rgba(0,0,0,0.25);
  border-radius       : 10px;
  display             : inline-grid;
  grid-template-areas :
    "title"
    "subtitle"
    "innergrid"
    ;
}

span#uploadGrid {
  grid-area             : innergrid;
  display               : inline-grid;
  grid-template-columns : repeat(2, auto);
  align-items           : center;
  justify-items         : center;
  column-gap            : 24px;
}

.upload-btn-wrapper {
  position : relative;
  overflow : hidden;
  display  : inline-block;
  cursor   : pointer;
}

.upload-btn-wrapper input[type=file] {
  position : absolute;
  left     : 0;
  top      : 0;
  opacity  : 0;
  cursor   : pointer;
}

a.nostyle.replay-link {
  font-weight   : bold;
  color         : lime;
  border        : 1px solid rgba(255,255,255,0.5);
  border-radius : 4px;
  padding       : 2px;
}

a.nostyle.replay-link::after {
  content     : "\2b00";
  border-left : 1px solid rgba(255,255,255,0.25);
  padding     : 0 4px;
  margin-left : 4px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}*/
}

@media screen and (max-width: 1200px) {
  label.nav_top_label {
    display: none;
  }
  .navbar_links {
    justify-self: right;
  }
}

@media screen and (max-width: 800px) {
  #replayListingGrid button#prev::after, #replayListingGrid button#next::before {
    content: "";
    min-width: 0;
  }
  span#site_name {
    display: none;
  }
}

span.dirSummary {
  /*color: inherit;*/
  cursor              : pointer;
  background-color    : rgba(0,0,0,0.5);
  border              : 2px solid rgba(255,255,255,0.3);
  border-radius       : 8px;
  padding             : 2px 8px;
  margin-top          : 8px;
  text-align          : left;
  align-items         : center;
  font-size           : 12px;
  display             : inline-grid;
  grid-template-areas :
    "i t"
    "i s"
    "i r"
    ;
}

span.dirSummary.updir {
  background-color    : rgba(128,0,0,0.5);
}


span.dirSummary.curdir {
  background-color    : rgba(0,0,128,0.5);
}

span.dirSummary.broken {
  background-color    : rgba(255,128,128,0.5);
}

span.dirSummary.scanned {
  background-color    : rgba(0,128,0,0.5);
}

span.dirSummary:hover {
  border: 2px solid var(--general-hl-color-bright);
}

span.dirSummary span.dsIcon {
  grid-area     : i;
  padding-right : 4px;
}

span.dirSummary span.dsTitle {
  grid-area   : t;
  font-weight : bold;
  font-size   : 14px;
}

span.dirSummary span.dsSubs {
  color     : rgba(192,192,255,1);
  grid-area : s;
}

span.dirSummary span.dsSubs.has0 {
  color: rgba(255,255,255,0.5);
}

span.dirSummary span.dsReplays {
  color     : rgba(192,255,192,1);
  grid-area : r;
}

span.dirSummary span.dsReplays.has0 {
  color: rgba(255,255,255,0.5);
}

span.scanAddEntry, span.scanConfirmEntry, span.scanBackEntry {
  display       : inline-block;
  border        : 2px solid rgba(0,0,0,0.5);
  border-radius : 8px;
  background    : rgba(0,255,0,0.5);
  margin        : 4px;
  padding       : 4px;
  cursor        : pointer;
}

span.scanConfirmEntry {
  /*display: block;*/
  background : rgba(0,0,255,0.5);
}

span.scanBackEntry {
  /*display: block;*/
  background : rgba(255,0,0,0.5);
}

span#scanOuterGrid {
  margin-top          : 10px;
  padding             : 10px;
  background-color    : rgba(0,0,0,0.25);
  border              : 4px solid rgba(0,0,0,0.25);
  border-radius       : 10px;
  display             : inline-grid;
  grid-template-areas :
    "title"
    "subtitle"
    "scanlist"
    "innergrid"
    ;
}

span#scanOuterGrid span#cur-scans {
  grid-area     : scanlist;
  margin-bottom : 4px;
}

span#scanOuterGrid span#scanGrid {
  grid-area     : innergrid;
  display       : inline-grid;
  align-items   : center;
  justify-items : center;
  column-gap    : 24px;
  margin        : auto;
}

span#scanGrid span#browseList {
  grid-column : span 2;
}

span#browseList {
  min-width   : 560px;
  max-width   : 80%;
  margin      : auto;
}

span#settingsGrid {
  margin-top          : 10px;
  padding             : 10px;
  background-color    : rgba(0,0,0,0.25);
  border              : 4px solid rgba(0,0,0,0.25);
  border-radius       : 10px;
  display             : inline-grid;
  grid-template-areas :
    "title"
    "subtitle"
    "innergrid"
    ;
}

span.title {
  grid-area: title;
  font-size: 28px;
}

span.subtitle {
  grid-area: subtitle;
  font-size: 16px;
  /*margin-bottom: 16px;*/
}

.danger-button {
  font-weight      : bold;
  color            : var(--form-fg);
  background-color : var(--form-bg-danger);
}

.active-button {
  font-weight      : bold;
  color            : var(--form-fg);
  background-color : var(--general-hl-color);
}

span#statsGrid {
  width                 : 95%;
  margin-top            : 10px;
  padding               : 10px;
  background-color      : rgba(0,0,0,0.25);
  border                : 4px solid rgba(0,0,0,0.25);
  border-radius         : 10px;
  display               : inline-grid;
  grid-template-columns : repeat(auto, minmax(0, 1fr));
  grid-template-rows    : repeat(auto, min-content) minmax(300px,1fr);
}

span#statsGrid.page2 {
  min-width             : 1200px;
}

span#statsGrid.page1 .page2 {
  display: none;
}

span#statsGrid.page2 .page1 {
  display: none;
}

@media screen and (min-width: 1400px) {
  span#statsGrid.page1 {
    grid-template-areas:
      "title     title     pages      tabs       tabs"
      "subtitle  subtitle  tpages     ttabs      ttabs"
      "hchars    hchars    hhistory   hhistory   hhistory"
      "chars     chars     history    history    history"
      "hmatchups hmatchups hstages    hmostgames hnewgames"
      "matchups  matchups  stages     mostgames  newgames"
      ;
  }

  span#statsGrid.page2 {
    grid-template-areas:
      "title     pages     tabs"
      "subtitle  tpages    ttabs"
      "hextchars hextchars hextchars"
      "extchars  extchars  extchars"
      ;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  span#statsGrid.page1 {
    /*grid-gap              : 32px;*/
    grid-template-areas:
      "title     title     title      title      title     title"
      "subtitle  subtitle  subtitle   subtitle   subtitle  subtitle"
      "tabs      tabs      tabs       tabs       tabs      tabs"
      "ttabs     ttabs     ttabs      ttabs      ttabs     ttabs"
      "pages     pages     pages      pages      pages     pages"
      "tpages    tpages    tpages     tpages     tpages    tpages"
      "hchars    hchars    hchars     hchars     hchars    hchars"
      "chars     chars     chars      chars      chars     chars"
      "hmatchups hmatchups hmatchups  hmatchups  hmatchups hmatchups"
      "matchups  matchups  matchups   matchups   matchups  matchups"
      "hstages   hstages   hmostgames hmostgames hnewgames hnewgames"
      "stages    stages    mostgames  mostgames  newgames  newgames"
      "hhistory  hhistory  hhistory   hhistory   hhistory  hhistory"
      "history   history   history    history    history   history"
      ;
  }

  span#statsGrid.page2 {
    grid-template-areas:
      "title     title     title      title      title     title"
      "subtitle  subtitle  subtitle   subtitle   subtitle  subtitle"
      "tabs      tabs      tabs       tabs       tabs      tabs"
      "ttabs     ttabs     ttabs      ttabs      ttabs     ttabs"
      "pages     pages     pages      pages      pages     pages"
      "tpages    tpages    tpages     tpages     tpages    tpages"
      "hextchars hextchars hextchars  hextchars  hextchars hextchars"
      "extchars  extchars  extchars   extchars   extchars  extchars "
      "hmatchups hmatchups hmatchups  hmatchups  hmatchups hmatchups"
      "matchups  matchups  matchups   matchups   matchups  matchups"
      "hstages   hstages   hmostgames hmostgames hnewgames hnewgames"
      "stages    stages    mostgames  mostgames  newgames  newgames"
      "hhistory  hhistory  hhistory   hhistory   hhistory  hhistory"
      "history   history   history    history    history   history"
      ;
  }

  span.pagetitle {
    display: none;
    grid-area : tpages;
  }
  span.filtertitle {
    display: none;
    grid-area : ttabs;
  }
}

@media screen and (max-width: 800px) {
  span#statsGrid.page1 {
    /*grid-gap              : 32px;*/
    grid-template-areas   :
      "title"
      "subtitle"
      "tabs"
      "pages"
      "hchars"
      "chars"
      "hmatchups"
      "matchups"
      "hstages"
      "stages"
      "hmostgames"
      "mostgames"
      "hnewgames"
      "newgames"
      "hhistory"
      "history"
      ;
  }

  span#statsGrid.page2 {
    grid-template-areas   :
      "title"
      "subtitle"
      "tabs"
      "pages"
      "hextchars"
      "extchars"
      "hmatchups"
      "matchups"
      "hstages"
      "stages"
      "hmostgames"
      "mostgames"
      "hnewgames"
      "newgames"
      "hhistory"
      "history"
      ;
  }

  span.pagetitle {
    display: none;
    grid-area : tpages;
  }
  span.filtertitle {
    display: none;
    grid-area : ttabs;
  }
}

span.statPageButtons {
  grid-area : pages;
}
span.pagetitle {
  grid-area : tpages;
}
span.filtertitle {
  grid-area : ttabs;
}

span#statsGrid.page2 span#hextchars {
  grid-area : hextchars;
}

span#statsGrid.page2 span#statsExtChars {
  grid-area             : extchars;
  display               : inline-grid;
  grid-template-areas   : "extDetails extTable";
  grid-template-columns : auto auto;
}

span#matchupDetails {
  grid-area  : extDetails;
  max-width  : 400px;
  margin     : 0 auto;
  text-align : center;
}

span.mudPortrait {
  display   : inline-block;
  max-width : 45%;
  width     : 45%;
}

span.mudPortrait img {
  width: 100%;
}

span.mudPortrait#mudPortrait2 img {
  transform: scaleX(-1);
}

table#byExtChar {
  grid-area : extTable;
}

span#statsStages {
  grid-area  : stages;
  margin-top : 0;
}

span#statsGrid table {
  margin     : auto;
  text-align : center;
}

span#statsGrid td {
  border  : 1px solid rgba(255,255,255,0.3);
  padding : 0 4px;
  height  : 26px;
}

span#statsGrid span.h, span#statsGraphs span.h {
  font-weight : bold;
  font-size   : 16px;
}

span#statsGrid hr {
  margin: 2px 0;
}

span#hchars     { grid-area: hchars; }
span#hmatchups  { grid-area: hmatchups; }
span#hstages    { grid-area: hstages; }
span#hnewgames  { grid-area: hnewgames; }
span#hmostgames { grid-area: hmostgames; }
span#hhistory   { grid-area: hhistory; }

span#statsHistory {
  grid-area : history;
  height    : 320px;
}

span#statsChars {
  grid-area             : chars;
  display               : inline-grid;
  grid-template-columns : repeat(20, minmax(0, 1fr));
  grid-auto-rows        : max-content;
  grid-gap              : 4px;
}

span#statsChars span.charGrid {
  display               : inline-grid;
  grid-template-areas   :
  "portrait"
  "playtime"
  ;
}

span#statsChars span.portrait {
  width            : 100%;
  height           : max-content;
  grid-area        : portrait;
  border           : 1px solid rgba(255,255,255,0.2);
  border-radius    : 8px;
  background-color : rgba(0,0,0,0.2);
}

span#statsChars span.portrait:hover {
  border           : 1px solid var(--general-hl-color-bright);
}

span.portrait img {
  width  : 100%;
  cursor : pointer;
}

span#statsChars span.charGrid.main {
  grid-column : span 6;
  grid-row    : span 6;
  height      : max-content;
  margin      : auto;
}

span#statsChars span.charGrid.second {
  grid-column : span 3;
  grid-row    : span 3;
  height      : max-content;
  margin      : auto;
}

span#statsChars span.charGrid.third {
  grid-column : span 2;
  grid-row    : span 2;
  height      : max-content;
  margin      : auto;
}

span#statsChars span.charGrid.other {
  height : max-content;
  margin : auto;
}

span#statsChars span.playtime {
  grid-area : playtime;
  font-size : 12px;
}

span#statsMatchups {
  grid-area           : matchups;
  display             : inline-grid;
  grid-template-areas :
    'charsb charsm charsw';
  /*grid-template-columns: 1fr min-content;*/
}

span#statsMatchups.twoColumn {
  grid-template-areas :
    'charsb charsm';
  /*grid-template-columns: 1fr min-content;*/
}

span#statsMatchups.oneColumn {
  grid-template-areas :
    'charsb';
  /*grid-template-columns: 1fr min-content;*/
}

span#statsMatchups table#byBestChar {
  grid-area  : charsb;
  margin-top : 0;
}

span#statsMatchups table#byMidChar {
  grid-area  : charsm;
  margin-top : 0;
}

span#statsMatchups table#byWorstChar {
  grid-area  : charsw;
  margin-top : 0;
}


span#statsMost {
  grid-area: mostgames;
}

span#statsNew {
  grid-area: newgames;
}

span#statsGrid {
  text-shadow:
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
  grid-area: mostgames;
}

span#statsGrid td.wp { background-color: yellow; }
span#statsGrid td.ww { background-color: lime; }
span#statsGrid td.ll { background-color: pink; }
span#statsGrid td.lf { background-color: red; }


span#statsIndexGrid {
  margin-top            : 10px;
  padding               : 10px;
  background-color      : rgba(0,0,0,0.25);
  border                : 4px solid rgba(0,0,0,0.25);
  border-radius         : 10px;
  display               : inline-grid;
  grid-template-areas   :
      "title"
      "ttable"
}

span#statsIndexGrid table {
  grid-area      : ttable;
  margin         : auto;
  border-spacing : 10px 4px;
}

span#settingsGrid span.set {
  font-weight : bold;
  color       : lime;
}

span.errorblock code {
  font-family      : monospace;
  margin           : 10px auto;
  padding          : 10px;
  width            : 75%;
  background-color : rgba(255,0,0,0.4);
}

span.stockcount {
  font-weight    : bold;
  font-size      : 20px;
  vertical-align : top;
  text-shadow    :
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
}

span#helpGrid {
  margin-top            : 10px;
  padding               : 10px;
  background-color      : rgba(0,0,0,0.25);
  border                : 4px solid rgba(0,0,0,0.25);
  border-radius         : 10px;
  display               : inline-grid;
  grid-template-areas   :
    "title"
    "shortcuts"
    ;
}

span#helpGrid #shortcuts {
  grid-area  : shortcuts;
}

span#helpGrid table {
  margin     : auto;
  text-align : center;
}

span#helpGrid table td {
  border  : 1px solid rgba(255,255,255,0.3);
  padding : 0 6px;
}

span#statsGraphs {
  width                 : 95%;
  margin-top            : 10px;
  padding               : 10px;
  background-color      : rgba(0,0,0,0.25);
  border                : 4px solid rgba(0,0,0,0.25);
  border-radius         : 10px;
  display               : inline-grid;
  grid-template-columns : repeat(1, minmax(0, 1fr));
  grid-template-areas   :
    "title"
    "subtitle"
    "hgamegraph"
    "gamegraph"
    ;
}

span#hgamegraph { grid-area: hgamegraph; }
span#gamegraph  { grid-area: gamegraph; }

.svgaxis path, .svgaxis line {
  fill            : none;
  stroke          : #FFF;
  shape-rendering : crispEdges;
}

.svg-container {
  display        : inline-block;
  position       : relative;
  width          : 100%;
  height         : 100%;
  vertical-align : top;
  overflow       : hidden;
}

.svg-container svg {
  max-width : 100%;
  height    : 100%;
}

div.svgtooltip {
  z-index        : 100000;
  position       : absolute;
  text-align     : center;
  padding        : 2px;
  font           : 12px sans-serif;
  background     : rgba(255,255,255,0.75);
  border         : 2px solid black;
  border-radius  : 8px;
  pointer-events : none;
  text-shadow    :
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
}

div.svgtooltip td { padding: 0 4px; }

span.statFilterButtons {
  grid-area: tabs;
}

.link, .clickable {
  cursor: pointer;
}

span.curdir {
  color: cyan;
}

span.filter {
  cursor           : pointer;
  background-color : white;
  padding          : 0px 4px;
  border           : 1px solid black;
  border-radius    : 10px;
}

span.filter::before {
  color            : black;
  text-shadow      : none;
  border-radius    : 10px;
  content          : "✕";
  padding-right    : 2px;
  margin-right     : 2px;
  margin-left      : -4px;
  text-align       : center;
  background-color : rgba(0,0,0,0.2);
}

span.filter.filterChar {
  background-color: lime;
  background-color: rgba(0,255,0,0.5);
}
span.filter.filterVs {
  background-color: red;
  background-color: rgba(255,0,0,0.5);
}
span.filter.filterStage {
  background-color: cyan;
  background-color: rgba(192,192,255,0.5);
}
span.filter.filterAgainst {
  background-color: yellow;
  background-color: rgba(255,255,0,0.5);
}

span#statsPlayerHeader {
  color       : white;
  font-weight : bold;
  cursor      : pointer;
  text-shadow :
    -1px -1px 0 var(--general-hl-color),
     1px -1px 0 var(--general-hl-color),
    -1px  1px 0 var(--general-hl-color),
     1px  1px 0 var(--general-hl-color);
}

tr.clickable:hover {
  background-color:  var(--general-hl-color-dim);
}

td.conncode, span#statsGrid td.conncode {
  padding-left     : 4px;
  padding-right    : 4px;
  font-family      : monospace;
  font-size        : 16px;
  background-color : rgba(255,255,255,0.15);
  border           : 1px solid rgba(255,255,255,0.3);
  border-radius    : 4px;
  margin           : 4px;
  text-align       : right !important;
  font-style       : italic;
  text-shadow:
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
}

td.conncode a {
  color            : white;
  text-decoration  : none;
}

tr:hover td.conncode, td.conncode a:hover {
  color : cyan;
}

th.clickable {
  background-color      : rgba(128,128,128,0.5);
  border-radius         : 4px;
  border                : 1px solid white;
  padding               : 2px 2px;
  text-align            : right;
  /*https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable*/
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}

th.clickable.sorted {
  color: lime;
}

th.clickable.sorted.rev {
  color: red;
}

th.clickable:hover {
  background-color : rgba(128,128,255,0.5);
}

th.clickable::before {
  content        : "▲";
  margin-left    : 2px;
  margin-right   : 4px;
  opacity        : 0;   /*placehold space for arrow*/
  font-size      : 8px;
  vertical-align : middle;
}

th.clickable.sorted.asc::before {
  content: "▲";
  opacity: 1;
}

th.clickable.sorted.desc::before {
  content: "▼";
  opacity: 1;
}

/*https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable*/
.unselectable {
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}

span.inline-header {
  font-weight    : bold;
  font-size      : 20px;
  vertical-align : center;
  margin         : 0 8px;
}

.tooltip {
  background       : rgba(0,0,0,0.85);
  border           : 4px solid var(--general-hl-color-max);
  pointer-events   : none;
  opacity          : 0;
  display          : inline-block;
  position         : absolute;
  padding          : 10px 10px;
  color            : rgba(192,224,255,1);
  border-radius    : 8px;
  text-align       : left;
  font             : bold 14px "Helvetica Neue", Sans-Serif;
  /*font-stretch     : condensed;*/
  /*text-decoration  : none;*/
  /*box-shadow       : 0 0 7px black;*/
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

   /*animation: border-flash 1.5s infinite ease-in-out forwards;*/

/*OLD dancing border code https://www.w3schools.com/css/css3_animations.asp */
/*  background: linear-gradient(90deg, purple 50%, transparent 50%), linear-gradient(90deg, purple 50%, transparent 50%), linear-gradient(0deg, purple 50%, transparent 50%), linear-gradient(0deg, purple 50%, transparent 50%), rgba(0,0,0,0.85);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;*/
/*  background:
    linear-gradient(90deg, transparent 50%, transparent 50%),
    linear-gradient(90deg, rgba(192,224,255,0.35) 50%, transparent 50%),
    rgba(0,0,0,0.85);
  background-repeat: repeat-x, repeat-x;
  background-size: 15px 4px, 15px 4px;
  padding: 10px;*/
  /*animation: border-dance 8s infinite linear;*/
  /*animation: border-dance 2s infinite ease-in-out alternate;*/
  /*animation-fill-mode: both;*/
  /*transition: opacity 0.25s ease, background-position 1s ease;*/
  transition: border 0.5s ease, opacity 0.2s ease;
}

@keyframes border-flash {
  0% {
    border-bottom: 4px solid rgba(192,224,255,0.35);
  }
  20% {
    border-bottom: 4px solid rgba(255,255,255,0.55);
  }
  100% {
    border-bottom: 4px solid rgba(192,224,255,0.35);
  }
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}

.tooltip.active {
  border              : 4px solid var(--general-hl-color-dim);
  opacity             : 1;
  background-position : 212px 0px, 0px 116px, 0px 0px, 216px 116px;
}
.tooltip.out {
  opacity: 0;
}

.tooltip .ttheader {
  display     : block;
  margin      : 0 auto;
  text-align  : center;
  font-size   : 16px;
  color       : white;
  text-shadow :
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
