{% extends "header.html.j2" %}

{% block content %}
    <span id="helpGrid">
      <span class="title">
        Help Page
      </span>

      <span id="shortcuts">
        <h3>Keyboard Shortcuts</h3>
        <table>
          <tr><td>Backspace</td><td>Go back a page</td></tr>
          <tr><td>Alt+Left</td><td>Go back a page</td></tr>
          <tr><td>Alt+Right</td><td>Go forward a page</td></tr>
          <tr><td>F5</td><td>Refresh current page</td></tr>
          <tr><td>F12</td><td>Reset app</td></tr>
        </table>
      </span>

    </span>

{% endblock %}
