{% extends "header.html.j2" %}

{% block content %}
    <span id="uploadOuterGrid">
      <span class="title">Currently Scanned Folders</span>
      {# <span class="subtitle">(Max {{SIMULTANEOUS_UPLOADS}} at time)</span> #}
      <span id="scanGrid">
        <div id="add-button" class="upload-btn-wrapper">
          <button onclick='browseDir()' class="fake-submit">Add Directory</button>
          {# <input  id=replay-file-scan-add/> #}
        </div>
        {# <button type="button" disabled id=upload-button class="fake-submit" onclick='beginScan()'>Scan All</button> #}
        <button type="button" id=scan-button class="fake-submit" onclick='beginScan()'>Begin Scan</button>
        {# <span id="cur-scans"> #}
          {% for s in scandirs %}
            <button type="button" onclick="delScanDir('{{ s.name }}')" id="u-button-0" class="transient u-button">Remove Directory</button>
            {% set dsummary = s.stats %}
            {% include '_folder.html.j2' %}
          {% endfor %}
        {# </span> #}
        <span id="browseList">
        </span>
      </span>
    </span>

    <script>
      function addScanDir(d) {
        if (! confirm("Add directory "+d+" to scan list?")) {
          return;
        }
        $.ajax({
            type        : "post",
            url         : "/api/scan/add",
            data        : JSON.stringify({"dir" : d}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              window.location.href = window.location.href;
            }
        });
      }

      function delScanDir(d) {
        if (! confirm("Remove directory "+d+" from scan list?")) {
          return;
        }
        $.ajax({
            type        : "post",
            url         : "/api/scan/del",
            data        : JSON.stringify({"dir" : d}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              window.location.href = window.location.href;
            }
        });
      }

      function browseDir(d="/",s="") {
        // TODO: not sure if we're safe against quoted directory names
        // b = $("#browseList");
        $.ajax({
            type        : "post",
            url         : "/api/scan/browse",
            data        : JSON.stringify({"dir" : d,"subdir" : s}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              var b       = document.getElementById("browseList");
              var first   = '<hr/><span class="title">Choose a Folder to Add</span><div></div>';
              b.innerHTML = first+rjson["render"];
            }
        });
      }

      function scanExists(d) {
        toastr.info(d+" is already scanned!")
      }

      function beginScan() {
        toastr.info('Beginning scan. Keep window open until scan is complete.')
        var index    = 0;
        var ubutton  = document.getElementById("scan-button");
        var token    = "";

        ubutton.disabled = true;

        function checkProgress() {
          $.ajax({
              type        : "post",
              url         : "/api/scan/progress",
              data        : JSON.stringify({"token" : token}),
              dataType    : "json",
              contentType : "application/json",
              cache       : false,
              processData : false,
              success: function (rjson) {
                ubutton.innerText = "Scanning " + rjson["status"];// first set the value
              },
              complete: function (rjson) {
                if (!("done" in rjson["responseJSON"])) {
                  setTimeout(checkProgress, 500);
                } else {
                  toastr.success('Scan complete!')
                }
              }
          });
        }

        $.ajax({
          type        : "post",
          url         : "/api/scan",
          data        : new FormData(),
          contentType : false,
          cache       : false,
          processData : false,
          success     : function(rjson) {
            ubutton.title      = "Scanning " + JSON.stringify(rjson);
            ubutton.innerText  = rjson["status"];
            token              = rjson["token"];
            setTimeout(checkProgress, 500);
            // ubutton.className += " hasinfo";
            // if ("analysis-url" in rjson) {
            //   document.getElementById("u-filename-"+index).innerHTML = "<a title='View Analysis of "+rjson["filename"]+"' target='_blank' class='nostyle replay-link' href='"+rjson["analysis-url"]+"'>"+rjson["filename"]+"</a>";
            // }
            window.onbeforeunload = null;
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            ubutton.innerText = "Error";
            ubutton.title     = "Status: " + textStatus+"\nError: " + errorThrown;
            window.onbeforeunload = null;
          }
        });
      }
    </script>
{% endblock %}
