{% extends "header.html.j2" %}

{% block content %}
    <span id="settingsGrid">
      <span class="title">{{SITE_NAME}} - Settings</span>
      {# <button id="purge-button" class="danger-button" onclick="purge()">Purge Data</button> #}
      <button id="data-button" onclick="change('/api/opendata',false)">Open Data Folder<br/><span class="set">{{ DATA_FOLDER }}</span></button>
      <button id="install-button" onclick="change('/api/openinstall',false)">Open Install Folder<br/><span class="set">{{ INSTALL_FOLDER }}</span></button>
      <button id="emu-button" onclick="change('/api/setemupath')">
        Set Slippi Path<br/><span class="set">{{ settings["emupath"] }}</span>
      </button>
      <button id="iso-button" onclick="change('/api/setisopath')">
        Set ISO Path<br/><span class="set">{{ settings["isopath"] }}</span>
      </button>
      <button id="autoscan-button" onclick="change('/api/toggleautoscan')">
        Autoscan on Startup<br/><span class="set">{{ settings["autoscan"] }}</span>
      </button>
    </span>

    <script>
      function change(u,reload=true) {
        $.ajax({
          url : u,
          success: function() { if(reload) { location.reload(); } }
        });
      }
      // function purge() {
      //   if (confirm("Delete all user data? (1/3)")) {
      //     if (confirm("Are you sure? This cannot be undone. (2/3)")) {
      //       if (confirm("Final confirmation. Press OK to delete all user data or CANCEL to go back. (3/3)")) {
      //           $.ajax({
      //             type        : "post",
      //             url         : "/api/purge",
      //             data        : JSON.stringify({}),
      //             dataType    : "json",
      //             contentType : "application/json",
      //             cache       : false,
      //             processData : false,
      //             success: function (rjson) {
      //               $("#purge-button").innerText = "Data Purged";
      //               alert("Data purged. The app must be restarted before using.");
      //               window.location.href = window.location.href;
      //             }
      //         });
      //       }
      //     }
      //   }
      // }
    </script>
{% endblock %}
