{% extends "header.html.j2" %}

{% block content %}
  <div class="barDiv">
    {% set svg_selector = "div.bardiv" %}
    {% set jsondata     = bardata %}
    {% include '_barchart.html.j2' %}
  </div>
{% endblock %}
