{% extends "header.html.j2" %}

{% block content %}
    <span id="statsGrid">
      <span class="title">
        Player Stats for {{stats.name}} ({{stats.tag}})
      </span>
      <span class="subtitle">
        Showing most recent {{stats.count}} games
      </span>

      {# Mains, Secondaries, and Other Characters #}
      <span class="h" id="hchars"><hr/>Most Played Characters<hr/></span>
      <span class="h" id="hmatchups"><hr/>Win Rate by Matchup<hr/></span>
      <span class="h" id="hmostgames"><hr/>Most Played Opponents<hr/></span>
      <span class="h" id="hnewgames"><hr/>Most Recent Opponents<hr/></span>

      <span id="statsChars">
        {% for c in stats.char %}
          {% set playcount = (c[1:7]|sum) %}
          {% if playcount > 0 %}
            {% set playpercent = ((1000*(playcount)/stats.count)|int)/10 %}
            {% set cname = intchardata[c[0]]['intname'] %}
            {% if loop.index == 1 %}
              {% set role = "main" %}
            {% elif loop.index <= 3 %}
              {% set role = "second" %}
            {% else %}
              {% set role = "other" %}
            {% endif %}
            <span class="charGrid {{role}}">
              <span class="portrait">
                <a href="/stats/{{ stats.tag|replace('#', '_', 1) }}?char={{c[0]}}"><img title="{{ cname }} ({{playpercent}}%)&#10;(Click to filter results by character)" src="{{ url_for('static',filename='icons/css') }}/{{ cname }}{{ c[7] }}.png" /></a>
              </span>
              <span class="playtime">
                {{ playpercent }}%
              </span>
            </span>
          {% endif %}
        {% endfor %}
      </span>

      {# Win / Loss / Draw rate for each matchup #}
      <span id="statsMatchups">
        <table>
          <tr>
            <th>Opponent Char.</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>Win%</th>
          </tr>
          {% for mu in stats.opp %}
            <tr>
              <td>{{ intchardata[mu[0]]['name'] }}</td>
              <td>{{mu[1]}}</td>
              <td>{{mu[2]}}</td>
              <td>{{mu[3]}}</td>
              <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Played Opponents #}
      <span id="statsMost">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
          </tr>
          {% for o in stats.top %}
            <tr>
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %}
                {% else %}
                  {% set outcome = "w" %}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %}
                {% else %}
                  {% set outcome = "l" %}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}
              {% endif %}
              <td>{{ o[3] }}</td>
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              <td>{{ o[2] }}</td>
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Recent Opponents #}
      <span id="statsNew">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
          </tr>
          {% for o in stats.recent %}
            <tr>
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %}
                {% else %}
                  {% set outcome = "w" %}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %}
                {% else %}
                  {% set outcome = "l" %}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}
              {% endif %}
              <td>{{ o[3] }}</td>
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              <td>{{ o[2] }}</td>
            </tr>
          {% endfor %}
        </table>
      </span>

    </span>

{% endblock %}
