<a class="nav_side_link ni-{{ navicon.class }}" href="{{ navicon.src }}"><img
    title="{{ navicon.name }}"
    src="{{ url_for('static',filename='icons') }}/{{ navicon.img }}"
/><label class="nav_side_label">{{ navicon.name }}</label></a>
