<script type="text/javascript">
  function checkSubmit(e) {
     if(e && e.keyCode == 13) {
        document.forms[0].submit();
     }
  }
  function setPlayer(me,pnum) {
    var cid   = $(me).data('cid');
    var cname = $(me).data('cname');
    var imurl = "{{ url_for('static',filename='icons/stock') }}/"+cname+"0.png"
    $("#s-p"+pnum).html("<img src='"+imurl+"'/>");
    $("#s-p"+pnum+"-char").val(cid);
  }
</script>

{# <div onKeyPress="return checkSubmit(event)"/> #}
<span id="replaySearchBar">
  <form id="searchForm" name="searchForm" action="" method="get" novalidate autocomplete="off">
      {# {{ form.hidden_tag() }} #}
      {{ form.query(class="placeholderLabel") }}
      <span class="dropdown-wrapper hideUntilParentClicked">
        <button id="s-p1" type='button' class="has-dropdown">P1</button>
        <span class="dropdown css-dropdown">{% for c in chardata %}
          <img title="{{ c.name }}" data-cid="{{ c.id }}" data-cname="{{ c.intname }}" onclick="setPlayer(this,1)" src="{{ url_for('static',filename='icons/stock') }}/{{ c.intname }}0.png"/>
        {% endfor %}</span>
      </span>

      <span class="hideUntilParentClicked">
        <button id="s-stage" type='button' class="has-dropdown">Stage</button>
      </span>

      <span class="dropdown-wrapper hideUntilParentClicked">
        <button id="s-p2"    type='button' class="has-dropdown">P2</button>
        <span class="dropdown css-dropdown">{% for c in chardata %}
          <img title="{{ c.name }}" data-cid="{{ c.id }}" data-cname="{{ c.intname }}" onclick="setPlayer(this,2)" src="{{ url_for('static',filename='icons/stock') }}/{{ c.intname }}0.png"/>
        {% endfor %}</span>
      </span>

      <span class="hideUntilParentClicked">
        <button id="s-sort"  type='button' class="has-dropdown">Newest First</button>
      </span>

      {{ form.p1char() }}
      {{ form.p2char() }}
      {{ form.stage() }}
      {{ form.sort() }}
      {{ form.submit(class="hideUntilParentClicked") }}
  </form>
</span>

<script type="text/javascript">
$("#replaySearchBar").click(function() {
  $("#s-query").attr("placeholder", "Enter search terms...").removeClass("placeholderLabel");
  $(".hideUntilParentClicked").addClass("unhiding");
  $("#searchForm").addClass("clicked");
  setTimeout(function(){
    $(".hideUntilParentClicked").addClass("noLongerHidden").css('opacity');
  }, 100);
});
// var ddStage = [
//     { texts: "_NONE",     value : -1  , imageSrc: "{{url_for('static',filename='icons/stage') }}/_NONE0.png"},
//     { texts: "FOUNTAIN",  value :  2  , imageSrc: "{{url_for('static',filename='icons/stage') }}/FOUNTAIN.png"},
//     { texts: "STADIUM",   value :  3  , imageSrc: "{{url_for('static',filename='icons/stage') }}/STADIUM.png"},
//     { texts: "STORY",     value :  8  , imageSrc: "{{url_for('static',filename='icons/stage') }}/STORY.png"},
//     { texts: "DREAMLAND", value :  28 , imageSrc: "{{url_for('static',filename='icons/stage') }}/DREAMLAND.png"},
//     { texts: "BATTLE",    value :  31 , imageSrc: "{{url_for('static',filename='icons/stage') }}/BATTLE.png"},
//     { texts: "FINAL",     value :  32 , imageSrc: "{{url_for('static',filename='icons/stage') }}/FINAL.png"},
//   ];
// $('#stageDropDown').ddslick({
//     data: ddStage,
//     selectText: "Stage",
//     width: "120px",
//     height: "300px",
//     onSelected: function(selectedData){
//         //callback function: do something with selectedData;
//     }
// });
</script>
