{% extends "header.html.j2" %}

{% block content %}
    <h1>CV</h1>

    <h2 class="left_aligned">Proficient In</h1>
    <span class="flex-row">
    {% for lang in lang_profs if lang["level"] == "Proficient In" %}
        {%- include "_cv_icon_wrapper.html.j2" -%}
    {% endfor %}
    </span>

    <h2 class="left_aligned">Competent In</h1>
    <span class="flex-row">
    {% for lang in lang_profs if lang["level"] == "Competent In" %}
        {%- include "_cv_icon_wrapper.html.j2" -%}
    {% endfor %}
    </span>

    <h2 class="left_aligned">Have Experience With</h1>
    <span class="flex-row">
    {% for lang in lang_profs if lang["level"] == "Have Experience With" %}
        {%- include "_cv_icon_wrapper.html.j2" -%}
    {% endfor %}
    </span>

{% endblock %}
