{% extends "header.html.j2" %}

{% block content %}
  <span id="replayListingGrid">
    {% if prev_url %}
      <button id="prev" type="button"><a class="nostyle" href="{{ prev_url }}">&lt;</a></button>
    {% else %}
      <button id="prev" type="button" disabled>&lt;</button>
    {% endif %}
    {% if next_url %}
      <button id="next" type="button"><a class="nostyle" href="{{ next_url }}">&gt;</a></button>
    {% else %}
      <button id="next" type="button" disabled>&gt;</button>
    {% endif %}
    {% if form %}
      {% include '_search-bar.html.j2' %}
    {% endif %}
    <span id="replayListingInnerGrid">
      {% for rsummary in replays %}
        <span class="replayHoverWrapper">
          {% include '_replay-mini.html.j2' %}
        </span>
      {% endfor %}
    </span>
  </span>
{% endblock %}
