{% extends "header.html.j2" %}

{% block content %}
    {# <h1>Hi, {{ current_user.username }}!</h1> #}
    {# {% if form %} #}
    {# <form action="" method="post"> #}
        {# {{ form.hidden_tag() }} #}
        {# <p> #}
            {# {{ form.post.label }}<br> #}
            {# {{ form.post(cols=32, rows=4) }}<br> #}
            {# {% for error in form.post.errors %} #}
            {# <span style="color: red;">[{{ error }}]</span> #}
            {# {% endfor %} #}
        {# </p> #}
        {# <p>{{ form.submit() }}</p> #}
    {# </form> #}
    {# {% endif %} #}
    <table id="replayListing">
    {% for replay in replays %}
        {% include '_replay-mini.html.j2' %}
    {% endfor %}
    </table>
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer Replays</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older Replays</a>
    {% endif %}
{% endblock %}
