{% block nav_top %}
  <span class="navbar_top">
    <span id="site_header_icon">
      <a class="nostyle" href="{{ url_for('main.replays') }}">
        <img src="{{ url_for('static', filename='icons/wolfhead.svg') }}" alt="{{ SITE_NAME }}">
      </a>
    </span>
    <span id="navbar_title">
      <a class="nostyle" href="{{ url_for('main.replays') }}">
        <span id="site_name">{{ SITE_NAME }}</span>
      </a>
    </span>

    {#
    <a href="{{ url_for('main.index') }}">Home</a>
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
      <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
    <a href="{{ url_for('main.explore') }}">Explore</a>
    #}

    <span id="navbar_links">
      {% for navicon in nav_icons %}
        {%- include '_navicon_top.html.j2' -%}
      {% endfor %}
    </span>
  </span>
{% endblock %}
