{% if rsummary.p1char in intchardata %}
  {% set p1char = intchardata[rsummary.p1char]['intname'] %}
{% else %}
  {% set p1char = intchardata[-1]['intname'] %}
{% endif %}
{% if rsummary.p2char in intchardata %}
  {% set p2char = intchardata[rsummary.p2char]['intname'] %}
{% else %}
  {% set p1char = intchardata[-1]['intname'] %}
{% endif %}
{% set fname = rsummary.filename.split('.')[0] %}
{% set stage = intstagedata[rsummary.stage]['name'] %}

{# <span title="{{ fname }}###{{p1char}} ({{ rsummary.p1display }} [{{rsummary.p1codetag}}]) {{rsummary.p1stocks}}-{{rsummary.p2stocks}} {{p2char}} ({{ rsummary.p2display }} [{{rsummary.p2codetag}}]) on {{stage}}" class="replaySummary"> #}
<span class="replaySummary">
  <a class="nostyle" href="/replays/{{ rsummary.checksum }}">
  <span class="replayStageGrid" style="background-image: url({{ url_for('static',filename='icons/stage') }}/{{ intstagedata[rsummary.stage]['intname'] }}.png)">

{#     {% if (replay.players[0].end_stocks > replay.players[1].end_stocks) %}
      {% if (0 == replay.players[1].end_stocks) %}
        <img title="Winner" class="rs-win1" src="{{ url_for('static',filename='icons/winner.png')}}"/>
      {% endif %}
    {% elif (replay.players[0].end_stocks < replay.players[1].end_stocks) %}
      {% if (0 == replay.players[0].end_stocks) %}
        <img title="Winner" class="rs-win2" src="{{ url_for('static',filename='icons/winner.png')}}"/>
      {% endif %}
    {% endif %} #}

    <span class="rs-tag1">{{ rsummary.p1display }}</span>
    <span class="rs-tag2">{{ rsummary.p2display }}</span>

    <span class="rs-char1"><img src="{{ url_for('static',filename='icons/css') }}/{{ p1char }}{{ rsummary.p1color }}.png" /></span>
    <span class="rs-char2"><img src="{{ url_for('static',filename='icons/css') }}/{{ p2char }}{{ rsummary.p2color }}.png" /></span>

    <span class="rs-stocks1">
      {% if rsummary.p1stocks <= 4 %}
        {% for i in range(rsummary.p1stocks,4) %}
          <img class="dead" src="{{ url_for('static',filename='icons/stock') }}/{{ p1char }}{{ rsummary.p1color }}.png" />
        {% endfor %}
        {% for i in range(rsummary.p1stocks) %}
          <img src="{{ url_for('static',filename='icons/stock') }}/{{ p1char }}{{ rsummary.p1color }}.png" />
        {% endfor %}
      {% else %}
        <img src="{{ url_for('static',filename='icons/stock') }}/{{ p1char }}{{ rsummary.p1color }}.png" />
        <span class="stockcount">x{{rsummary.p1stocks}}</span>
      {% endif %}
    </span>

    <span class="rs-filename">{{ rsummary.filename.split('.')[0] }}</span>

    <span class="rs-stocks2">
      {% if rsummary.p1stocks <= 4 %}
        {% for i in range(rsummary.p2stocks) %}
          <img src="{{ url_for('static',filename='icons/stock') }}/{{ p2char }}{{ rsummary.p2color }}.png" />
        {% endfor %}
        {% for i in range(rsummary.p2stocks,4) %}
          <img class="dead" src="{{ url_for('static',filename='icons/stock') }}/{{ p2char }}{{ rsummary.p2color }}.png" />
        {% endfor %}
      {% else %}
        <span class="stockcount">{{rsummary.p2stocks}}x</span>
        <img src="{{ url_for('static',filename='icons/stock') }}/{{ p2char }}{{ rsummary.p2color }}.png" />
      {% endif %}
    </span>
  </span>
</a></span>
