<html>
  <head>
    {% if title %}
      <title>{{ title }} - {{ SITE_NAME }}</title>
    {% else %}
      <title>{{ SITE_NAME }}</title>
    {% endif %}
    {# <link rel="shortcut icon" href="{{ url_for('static', filename='icons/pretzel.png') }}"> #}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/toastr.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.tip.v0.6.3.js') }}"></script>
    {# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> #}
    {# TODO: download scripts locally #}
  </head>
  <body>
    <script type="text/javascript">
      toastr.options = {
        "debug": false,
        "positionClass": "toast-bottom-right",
        "onclick": null,
        "fadeIn": 300,
        "fadeOut": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000
      }
    </script>
    <header>
      {% block nav_top %}
        {% include "_nav_top.html.j2" %}
      {% endblock %}
    </header>
    <div id='bodyWrapper'>
      <div tabindex=1 id='bodyContainer'>
        {# <span onclick="openNav()">open</span> #}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}
          {# Content is extended from here #}
        {% endblock %}
      </div>
    </div>
    <footer>
      {% block nav_bottom %}
        {% include "_nav_bottom.html.j2" %}
      {% endblock %}
    </footer>
  </body>
</html>
