{% extends "header.html.j2" %}

{% block content %}
  <span id="helpGrid">
    <span class="title">
      Help Page
    </span>
    <span id="shortcuts">
      <h3>Keyboard Shortcuts</h3>
      <table>
        <tr><td>Left Arrow</td><td>Go to previous replay / results page</td></tr>
        <tr><td>Right Arrow</td><td>Go to next replay / results page</td></tr>
        <tr><td>Up Arrow</td><td>(On replay page) Go back to last search results</td></tr>
        <tr><td>Backspace</td><td>Go back to last page in history</td></tr>
        <tr><td>Alt+Left</td><td>Go back to last page in history</td></tr>
        <tr><td>Alt+Right</td><td>Go forward to next page in history</td></tr>
        <tr><td>F5</td><td>Refresh current page</td></tr>
        <tr><td>F12</td><td>Reset app</td></tr>
      </table>
    </span>
  </span>

{% endblock %}
