{% extends "header.html.j2" %}

{% block content %}
  {% if autoscan %}
    <script type="text/javascript">
      autoScan();
    </script>
  {% endif %}
  <span id="replayListingGrid">
    {% if prev_url %}
      <a id="prev-a" class="nostyle" href="{{ prev_url }}"><button id="prev" type="button">&lt;</button></a>
    {% else %}
      <button id="prev" type="button" disabled>&lt;</button>
    {% endif %}
    {% if next_url %}
      <a id="next-a" class="nostyle" href="{{ next_url }}"><button id="next" type="button">&gt;</button></a>
    {% else %}
      <button id="next" type="button" disabled>&gt;</button>
    {% endif %}
    {% if form %}
      {% include '_search-bar.html.j2' %}
    {% endif %}
    <span id="replayListingInnerGrid">
      {% for dsummary in dirs %}
        {% include '_folder.html.j2' %}
      {% endfor %}
      <div></div>
      {% for rsummary in replays %}
        <span class="hoverWrapper"> {# This needs to be here to avoid messing up with individual replay views #}
          {% include '_replay-mini.html.j2' %}
        </span>
      {% endfor %}
    </span>
  </span>
{% endblock %}
