{% extends "header.html.j2" %}

{% block content %}
    <span id="scanOuterGrid">
      <span class="title">Scan Folders for .slp files</span>
      <span class="subtitle">Currently Scanned Folders: {{scandirs|length}}</span>
      <span id="cur-scans">
        {% for s in scandirs %}
          {% set dsummary = s.stats %}
          {% include '_folder.html.j2' %}
        {% endfor %}
      </span>
      <span id="scanGrid">
        <span id="scan-buttons">
          <button onclick='browseDir()' class="fake-submit">
            Add Folder
          </button>
          <button type="button" id=scan-button class="fake-submit" onclick='beginScan()'>
            Begin Scan
          </button>
          <button disabled id=log-button type="button" onclick='' hidden>
            View Scan Log
          </button>
        </span>
      </span>
      <span id="browseList">
      </span>
    </span>

    <script>
      function addScanDir(d) {
        if (! confirm("Add directory "+d+" to scan list?")) {
          return;
        }
        $.ajax({
            type        : "post",
            url         : "/api/scan/add",
            data        : JSON.stringify({"dir" : d}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              window.location.href = window.location.href;
            }
        });
      }

      function delScanDir(d) {
        if (! confirm("Remove directory "+d+" from scan list?")) {
          return;
        }
        $.ajax({
            type        : "post",
            url         : "/api/scan/del",
            data        : JSON.stringify({"dir" : d}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              window.location.href = window.location.href;
            }
        });
      }

      function browseDir(d="",s="") {
        // TODO: not sure if we're safe against quoted directory names
        // b = $("#browseList");
        $.ajax({
            type        : "post",
            url         : "/api/scan/browse",
            data        : JSON.stringify({"dir" : d,"subdir" : s}),
            dataType    : "json",
            contentType : "application/json",
            cache       : false,
            processData : false,
            success: function (rjson) {
              var b       = document.getElementById("browseList");
              var first   = '<hr/><span class="subtitle">Choose a Folder to Add</span><div></div>';
              b.innerHTML = first+rjson["render"];
            }
        });
      }

      function scanExists(d) {
        toastr.info(d+" is already scanned!")
      }

      function beginScan() {
        toastr.info('Beginning scan. Scanning will continue in background if tab is closed.')
        var index    = 0;
        var ubutton  = document.getElementById("scan-button");
        var token    = "";

        ubutton.disabled = true;

        function checkProgress() {
          $.ajax({
              type        : "post",
              url         : "/api/scan/progress",
              data        : JSON.stringify({"token" : token}),
              dataType    : "json",
              contentType : "application/json",
              cache       : false,
              processData : false,
              success: function (rjson) {
                ubutton.innerText = "Scanning " + rjson["status"];// first set the value
              },
              complete: function (rjson) {
                if (!("done" in rjson["responseJSON"])) {
                  setTimeout(checkProgress, 500);
                } else {
                  toastr.success('Scan complete!')
                  $("#log-button").prop("disabled",false);
                  $("#log-button").show();
                  $("#log-button").click(function() {
                    $.ajax({
                      type        : "get",
                      url         : "/api/scanlog/"+rjson["responseJSON"]["details"],
                      data        : JSON.stringify({"token" : token}),
                      dataType    : "json",
                      contentType : "application/json",
                      cache       : false,
                      processData : false
                    });
                  });
                }
              }
          });
        }

        $.ajax({
          type        : "post",
          url         : "/api/scan",
          data        : new FormData(),
          contentType : false,
          cache       : false,
          processData : false,
          success     : function(rjson) {
            ubutton.title      = "Scanning " + JSON.stringify(rjson);
            ubutton.innerText  = rjson["status"];
            token              = rjson["token"];
            setTimeout(checkProgress, 500);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            ubutton.innerText = "Error";
            ubutton.title     = "Status: " + textStatus+"\nError: " + errorThrown;
          }
        });
      }
    </script>
{% endblock %}
