<html>
  <head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  </head>
</html>

<body style="background-color: gray;">
  {% set svg_selector = "body" %}
  {% set jsondata     = bardata %}
  {% include '_barchart.html.j2' %}
</body>
