{% extends "header.html.j2" %}

{% block content %}
    <script type="text/javascript">
      var stats       = {{stats|tojson|safe}};
      var intchardata = {{intchardata|tojson|safe}};
      window.onload = function() {
        var uvars = getUrlVars();
        if ("ndays" in uvars) {
          $("button[data-q='ndays="+uvars["ndays"]+"']").addClass("active-button");
        }
        else if ("ngames" in uvars) {
          $("button[data-q='ngames="+uvars["ngames"]+"']").addClass("active-button");
        } else {
          $("button[data-q='']").addClass("active-button");
        }
        // alert(JSON.stringify($("[title]")));
        {% if not UNIVERSAL_TOOLTIPS %}
          // Load fancy tooltips manually for now
          $("[title]").tooltips();
        {% endif %}
      }
      function filterResults(me) {
        var here = window.location.href;
        var q    = $(me).data('q');
        here     = removeParam("ndays",removeParam("ngames",here));
        if (q != "") {
          here = addParam(q,here);
        }
        window.location.href = ensureQuery(here);
      }
      function dropAllFilters() {
        var here = window.location.href;
        here     = removeParam("char",here);
        here     = removeParam("vs",here);
        here     = removeParam("stage",here);
        here     = removeParam("against",here);
        window.location.href = ensureQuery(here);
      }
      function changeOrDropUrlParam(param,val) {
        var here = window.location.href;
        here     = removeParam(param,here);
        if ((val != undefined) && (val != getUrlVars()[param])) {
          here = addParam(param+"="+val,here);
        }
        window.location.href = ensureQuery(here);
      }
      function changeChar(c) {
        changeOrDropUrlParam("char",c);
      }
      function changeOpponent(c) {
        changeOrDropUrlParam("vs",c);
      }
      function changeStage(s) {
        changeOrDropUrlParam("stage",s);
      }
      function changeAgainst(s) {
        if (s != undefined) {
          s = s.replace("#","_");
        }
        changeOrDropUrlParam("against",s);
      }
      function changeStatsPage(n) {
        for(var i = 1; i <= 10; i++) {
          $("#statsGrid").removeClass("page"+i);
          $("#page"+i+"-button").removeClass("active-button");
        }
        $("#statsGrid").addClass("page"+n);
        $("#page"+n+"-button").addClass("active-button");
      }

      function changeExtDetail(o) {
        // alert(JSON.stringify(stats));
        var charid = -1;
        for(var i = 0; i < 26; ++i) {
          if (stats["opp"][i][0] == o) {
            charid = i;
            break;
          }
        }
        odata = stats["opp"][charid];

        // alert(odata);
        var t = $("#byDetailChar");


        $("#mudPortrait2 img")
          .attr("src","{{ url_for('static',filename='icons/css') }}/"+intchardata[o]["intname"]+"0.png");

        t.find("#p1w").html(odata[1]);
        t.find("#p2w").html(odata[2]);

        t.find("#p1p").html(odata[5].toFixed(1));
        t.find("#p1d").html(odata[6].toFixed(1));
        t.find("#p1o").html(odata[7].toFixed(1));
        t.find("#p1a").html(odata[8].toFixed(1));
        t.find("#p1c").html(odata[9].toFixed(1));
        t.find("#p1m").html(odata[10].toFixed(1));

        t.find("#p2p").html(odata[11].toFixed(1));
        t.find("#p2d").html(odata[12].toFixed(1));
        t.find("#p2o").html(odata[13].toFixed(1));
        t.find("#p2a").html(odata[14].toFixed(1));
        t.find("#p2c").html(odata[15].toFixed(1));
        t.find("#p2m").html(odata[16].toFixed(1));
      }
    </script>

    {# <span id="statsGrid"> #}
    <span class="page1" id="statsGrid">
      <span class="title">
        Stats for
        <span id="statsPlayerHeader" title="Click to reset all filters" onclick="dropAllFilters()">
          {{stats.name}} ({{stats.tag}})
        </span>
      </span>
      <span class="subtitle">
        {{stats.subtitle}}
      </span>
      <span class="statPageButtons">
        <button class="active-button" id="page1-button" onclick="changeStatsPage(1)">Page 1</button>
        <button id="page2-button" onclick="changeStatsPage(2)">Page 2</button>
      </span>
      <span class="pagetitle">
        Stat Pages
      </span>
      <span class="statFilterButtons">
        {# <span class="inline-header">Games to Show</span> #}
        <button data-q='ndays=7'      onclick="filterResults(this)">Week       </button>
        <button data-q='ndays=28'     onclick="filterResults(this)">Month      </button>
        <button data-q='ndays=365'    onclick="filterResults(this)">Year       </button>
        <button data-q='ngames=100'   onclick="filterResults(this)">100 Games  </button>
        <button data-q='ngames=1000'  onclick="filterResults(this)">1000 Games </button>
        <button data-q='ngames=10000' onclick="filterResults(this)">10000 Games</button>
        <button data-q=''             onclick="filterResults(this)">Lifetime   </button>
      </span>
      <span class="filtertitle">
        Filter by recent games
      </span>

      {# Mains, Secondaries, and Other Characters #}
      <span class="h page1" id="hchars"><hr/>Most Played Characters<hr/></span>
      <span class="h page2" id="hextchars"><hr/>Extended Matchup Stats<hr/></span>
      <span class="h page1" id="hmatchups"><hr/>Win Rates by Matchup<hr/></span>
      <span class="h page1" id="hstages"><hr/>Win Rates by Stage<hr/></span>
      <span class="h page1" id="hmostgames"><hr/>Most Played Opponents<hr/></span>
      <span class="h page1" id="hnewgames"><hr/>Most Recent Opponents<hr/></span>
      <span class="h page1" id="hhistory"><hr/>Games Played by Date<hr/></span>

      {# Player character stats #}
      <span class="page1" id="statsChars">
        {% for c in stats.char %}
          {% set playcount = (c[1:7]|sum) %}
          {% if playcount > 0 %}
            {% set playpercent = ((1000*(playcount)/stats.count)|int)/10 %}
            {% set cname = intchardata[c[0]]['intname'] %}
            {% if loop.index == 1 %}
              {% set role = "main" %}
            {% elif loop.index <= 3 %}
              {% set role = "second" %}
            {% elif loop.index <= 7 %}
              {% set role = "third" %}
            {% else %}
              {% set role = "other" %}
            {% endif %}
            <span class="charGrid {{role}}">
              <span class="portrait">
                {% set click="changeChar("+(c[0]|string)+")" %}
                <a onclick="{{click}}"><img title="{{ cname }} ({{playpercent}}%)&#10;(Click to filter results by character)" src="{{ url_for('static',filename='icons/css') }}/{{ cname }}{{ c[7] }}.png" /></a>
              </span>
              <span class="playtime">
                {{ playpercent }}%
              </span>
            </span>
          {% endif %}
        {% endfor %}
      </span>

      {# Win / Loss / Draw rate for each matchup #}
      {% if stats.opp[9][1] + stats.opp[9][2] == 0 %}
        {% set numcols = "oneColumn" %}
      {% elif stats.opp[18][1] + stats.opp[18][2] == 0 %}
        {% set numcols = "twoColumn" %}
      {% endif %}
      <span class="page1" id="statsMatchups" class="{{numcols}}">
        <table id="byBestChar">
          <tr>
            <th title="Opponent's Character">Vs.</th>
            <th>Win%</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
          </tr>
          {% for mu in stats.opp[:stats.splitpoint] %}
            {% if mu[1]+mu[2] > 0 %}
              {% set click="changeOpponent("+(mu[0]|string)+")" %}
              <tr title="Click to filter by games vs. {{intchardata[mu[0]]['name']}}" class="clickable" onclick="{{click}}">
                <td><img src="{{ url_for('static',filename='icons/stock') }}/{{ intchardata[mu[0]]['intname'] }}0.png"/></td>
                <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
                <td>{{mu[1]}}</td>
                <td>{{mu[2]}}</td>
                {# <td>{{mu[3]}}</td> #}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        {% if stats.opp[9][2] + stats.opp[9][2] > 0 %}
          <table id="byMidChar">
            <tr>
              <th title="Opponent's Character">Vs.</th>
              <th>Win%</th>
              <th>W</th>
              <th>L</th>
              {# <th>D</th> #}
            </tr>
            {% for mu in stats.opp[stats.splitpoint:stats.splitpoint2] %}
              {% if mu[1]+mu[2] > 0 %}
                {% set click="changeOpponent("+(mu[0]|string)+")" %}
                <tr title="Click to filter by games vs. {{intchardata[mu[0]]['name']}}" class="clickable" onclick="{{click}}">
                  <td><img src="{{ url_for('static',filename='icons/stock') }}/{{ intchardata[mu[0]]['intname'] }}0.png"/></td>
                  <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
                  <td>{{mu[1]}}</td>
                  <td>{{mu[2]}}</td>
                  {# <td>{{mu[3]}}</td> #}
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        {% endif %}
        {% if stats.opp[18][2] + stats.opp[18][2] > 0 %}
          <table id="byWorstChar">
            <tr>
              <th title="Opponent's Character">Vs.</th>
              <th>Win%</th>
              <th>W</th>
              <th>L</th>
              {# <th>D</th> #}
            </tr>
            {% for mu in stats.opp[stats.splitpoint2:] %}
              {% if mu[1]+mu[2] > 0 %}
                {% set click="changeOpponent("+(mu[0]|string)+")" %}
                <tr title="Click to filter by games vs. {{intchardata[mu[0]]['name']}}" class="clickable" onclick="{{click}}">
                  <td><img src="{{ url_for('static',filename='icons/stock') }}/{{ intchardata[mu[0]]['intname'] }}0.png"/></td>
                  <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
                  <td>{{mu[1]}}</td>
                  <td>{{mu[2]}}</td>
                  {# <td>{{mu[3]}}</td> #}
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        {% endif %}
      </span>

      {# Extended stats for each matchup #}
      <span class="page2" id="statsExtChars">
        <span id="matchupDetails">
          <span class="mudPortrait" id ="mudPortrait1">
            {# If we are showing stats for more than one character, show generic portrait #}
            {% if stats['char'][1][1:]|sum > 0 %}
              <img src="{{ url_for('static',filename='icons/css') }}/_NONE0.png"/>
            {# Show character specific portrait, with the index of the most-played costume color #}
            {% else %}
              <img src="{{ url_for('static',filename='icons/css') }}/{{ intchardata[stats['char'][0][0]]['intname'] }}{{stats['char'][0][1:].index(stats['char'][0][1:]|max)}}.png"/>
            {% endif %}
          </span>
          <span class="mudPortrait" id ="mudPortrait2">
            <img src="{{ url_for('static',filename='icons/css') }}/_NONE0.png"/>
          </span>
          <table id="byDetailChar">
            <tr><td>Wins</td>                     <td id="p1w">0</td><td id="p2w">0</td></tr>
            <tr><td>Openings Per Kill</td>        <td id="p1p">0</td><td id="p2p">0</td></tr>
            <tr><td>Damage Taken Per Stock</td>   <td id="p1d">0</td><td id="p2d">0</td></tr>
            <tr><td>Neutral Wins Per Minute</td>  <td id="p1o">0</td><td id="p2o">0</td></tr>
            <tr><td>Move Hit %</td>               <td id="p1a">0</td><td id="p2a">0</td></tr>
            <tr><td>Act Out of Stun / Wait</td>   <td id="p1c">0</td><td id="p2c">0</td></tr>
            <tr><td>Actions Per Minute</td>       <td id="p1m">0</td><td id="p2m">0</td></tr>

            {# <tr><td>Best Stage</td>               <td colspan=2 id="p1b"> 0</td></tr> #}
            {# <tr><td>Worst Stage</td>              <td colspan=2 id="p1w"> 0</td></tr> #}
            {# <tr><td>Toughest Opponent #1</td>     <td colspan=2 id="p1r1">0</td></tr> #}
            {# <tr><td>Toughest Opponent #2</td>     <td colspan=2 id="p1r2">0</td></tr> #}
            {# <tr><td>Toughest Opponent #3</td>     <td colspan=2 id="p1r3">0</td></tr> #}
          </table>
        </span>
        <table id="byExtChar">
          <tr>
            <th>Vs.</th>
            <th title="Win Rate###Games Won / Games Played" class="clickable sorted desc" onclick="sortTable('byExtChar',1,'desc')">Win%</th>
            <th title="Wins###Total Number of Wins" class="clickable" onclick="sortTable('byExtChar',2,'desc')">W</th>
            <th title="Losses###Total Number of Losses" class="clickable" onclick="sortTable('byExtChar',3,'asc')">L</th>
            <th title="Stocks###Mean Ending Stock Count" class="clickable" onclick="sortTable('byExtChar',4,'desc')">Stk.</th>

            <th title="Punish###Your Mean Openings per Kill" class="clickable" onclick="sortTable('byExtChar',5,'asc')">Pun.</th>
            <th title="Survivability###Opponent's Mean Openings per Kill" class="clickable" onclick="sortTable('byExtChar',6,'desc')">Srv.</th>

            <th title="Defense###Your Mean Damage Taken per Stock Loss" class="clickable" onclick="sortTable('byExtChar',7,'desc')">Def.</th>
            <th title="Efficiency###Opponent's Mean Damage Taken per Stock Loss" class="clickable" onclick="sortTable('byExtChar',8,'asc')">Eff.</th>

            <th title="Openings###Your Mean Openings per Minute in Neutral" class="clickable" onclick="sortTable('byExtChar',9,'desc')">Opn.</th>
            <th title="Counter-openings###Opponent's Mean Openings per Minute in Neutral" class="clickable" onclick="sortTable('byExtChar',10,'asc')">Coun.</th>

            <th title="Accuracy###Your Mean Move Accuracy" class="clickable" onclick="sortTable('byExtChar',11,'desc')">Acc.</th>
            <th title="Evasion###Opponent's Mean Move Accuracy" class="clickable" onclick="sortTable('byExtChar',12,'asc')">Evd.</th>

            <th title="Control###Your Mean Frames to Act Out of Hitstun / Shieldstun / Wait" class="clickable" onclick="sortTable('byExtChar',13,'asc')">Ctrl.</th>
            <th title="Pressure###Opponent's Mean Frames to Act Out of Hitstun / Shieldstun / Wait" class="clickable" onclick="sortTable('byExtChar',14,'desc')">Pres.</th>

            <th title="Actions Per Minute###Your Mean Actions per Minute" class="clickable" onclick="sortTable('byExtChar',15,'desc')">APM</th>
            <th title="Opponent Actions Per Minute###Opponent's Mean Actions per Minute" class="clickable" onclick="sortTable('byExtChar',16,'asc')">OAPM</th>
          </tr>
          {% for mu in stats.opp %}
            {% if mu[1]+mu[2] > 0 %}
              {% set click="changeExtDetail("+(mu[0]|string)+")" %}
              <tr title="Click to filter by games vs. {{intchardata[mu[0]]['name']}}" class="clickable" onclick="{{click}}">
                <td><img src="{{ url_for('static',filename='icons/stock') }}/{{ intchardata[mu[0]]['intname'] }}0.png"/></td>
                <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}</td>
                <td>{{mu[1]}}</td>                  {# wins #}
                <td>{{mu[2]}}</td>                  {# losses #}
                <td>{{"%.1f"|format(mu[4])}}</td>   {# stock count#}

                <td>{{"%.1f"|format(mu[5])}} </td>  {# punish #}
                <td>{{"%.1f"|format(mu[11])}}</td>  {# survivability (opunish) #}
                <td>{{"%.1f"|format(mu[6])}} </td>  {# defense #}
                <td>{{"%.1f"|format(mu[12])}}</td>  {# efficiency (odefense) #}
                <td>{{"%.1f"|format(mu[7])}} </td>  {# neutral wins #}
                <td>{{"%.1f"|format(mu[13])}}</td>  {# neutral losses (o neut. wins#}
                <td>{{"%.1f"|format(mu[8])}} </td>  {# accuracy #}
                <td>{{"%.1f"|format(mu[14])}}</td>  {# evasion (opponent accuracy) #}
                <td>{{"%.1f"|format(mu[9])}} </td>  {# control #}
                <td>{{"%.1f"|format(mu[15])}}</td>  {# pressure (opponent's control) #}
                <td>{{"%.1f"|format(mu[10])}}</td>  {# APM #}
                <td>{{"%.1f"|format(mu[16])}}</td>  {# opponent's APM #}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </span>

      <span class="page1" id="statsStages">
        <table id="byStage">
          <tr>
            <th>Stage</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
            <th>Win%</th>
          </tr>
          {% for mu in stats.stg %}
            {% if mu[1]+mu[2] > 0 %}
              {% if mu[0] >= 0 %}
                {% set click="changeStage("+(mu[0]|string)+")" %}
              {% endif %}
              <tr title="Click to filter by games on {{intstagedata[mu[0]]['name']}}" class="clickable" onclick="{{click}}">
                {% if mu[0] >= 0 %}
                  <td style="background-position: -40px -70px; background-image:url({{url_for('static',filename='icons/stage')}}/{{ intstagedata[mu[0]]['intname'] }}.png)">{{ intstagedata[mu[0]]['name'] }}</td>
                {% else %}
                  <td>Other Stages</td>
                {% endif %}
                <td>{{mu[1]}}</td>
                <td>{{mu[2]}}</td>
                {# <td>{{mu[3]}}</td> #}
                <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </span>

      {# Most Played Opponents #}
      <span class="page1" id="statsMost">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
          </tr>
          {% for o in stats.top %}
            <tr title="Click to filter by games against {{o[3]}}" class="clickable" onclick="changeAgainst('{{o[3]}}')">
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %}
                {% else %}
                  {% set outcome = "w" %}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %}
                {% else %}
                  {% set outcome = "l" %}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}
              {% endif %}
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}{{DEF_STATS}}">{{ o[3] }}</a></td> #}
              <td class="conncode" onclick="changeAgainst('{{o[3]}}')">{{ o[3] }}</td>
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}?submit=">{{ o[3] }}</a></td> #}
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              {# <td>{{ o[2] }}</td> #}
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Recent Opponents #}
      <span class="page1" id="statsNew">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
          </tr>
          {% for o in stats.recent %}
            <tr title="Click to filter by games against {{o[3]}}" class="clickable" onclick="changeAgainst('{{o[3]}}')">
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %} {# perfect #}
                {% else %}
                  {% set outcome = "w" %} {# winning #}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %} {# F #}
                {% else %}
                  {% set outcome = "l" %} {# losing #}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}  {# draw #}
              {% endif %}
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}{{DEF_STATS}}">{{ o[3] }}</a></td> #}
              <td class="conncode" onclick="changeAgainst('{{o[3]}}')">{{ o[3] }}</td>
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}?submit=">{{ o[3] }}</a></td> #}
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              {# <td>{{ o[2] }}</td> #}
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Recent Games #}
      <span class="page1" id="statsHistory">
        <div class="barDiv svg-container">
          {% set svg_selector = "div.bardiv" %}
          {% set jsondata     = stats["bydate"] %}
          {% include '_barchart-gamesbydate.html.j2' %}
        </div>
      </span>

    </span>

{% endblock %}
