{% extends "header.html.j2" %}

{% block content %}
    <span id="statsGrid">
      <span class="title">
        Player Stats for {{stats.name}} ({{stats.tag}})
      </span>
      <span class="subtitle">
        {{stats.subtitle}}
      </span>

      <script type="text/javascript">
        function filterResults(me) {
          var here = window.location.href;
          var q    = $(me).data('q');
          here     = removeParam("ndays",removeParam("ngames",here));
          if (q != "") {
            here = addParam(q,here);
          }
          window.location.href = here;
        }
        function changeChar(c) {
          var here = window.location.href;
          here     = removeParam("char",here);
          if (c >= 0) {
            here = addParam("char="+c,here);
          }
          window.location.href = here;
        }
        window.onload = function() {
          var uvars = getUrlVars();
          if ("ndays" in uvars) {
            $("button[data-q='ndays="+uvars["ndays"]+"']").addClass("active-button");
          }
          else if ("ngames" in uvars) {
            $("button[data-q='ngames="+uvars["ngames"]+"']").addClass("active-button");
          } else {
            $("button[data-q='']").addClass("active-button");
          }
        }
      </script>

      <span class="statFilterButtons">
        <button data-q='ndays=7'      onclick="filterResults(this)">Week       </button>
        <button data-q='ndays=28'     onclick="filterResults(this)">Month      </button>
        <button data-q='ndays=365'    onclick="filterResults(this)">Year       </button>
        <button data-q='ngames=100'   onclick="filterResults(this)">100 Games  </button>
        <button data-q='ngames=1000'  onclick="filterResults(this)">1000 Games </button>
        <button data-q='ngames=10000' onclick="filterResults(this)">10000 Games</button>
        <button data-q=''             onclick="filterResults(this)">Lifetime   </button>
      </span>

      {# Mains, Secondaries, and Other Characters #}
      <span class="h" id="hchars"><hr/>Most Played Characters<hr/></span>
      <span class="h" id="hmatchups"><hr/>Win Rate by Matchup<hr/></span>
      <span class="h" id="hmostgames"><hr/>Most Played Opponents<hr/></span>
      <span class="h" id="hnewgames"><hr/>Most Recent Opponents<hr/></span>
      <span class="h" id="hhistory"><hr/>Games Played by Date<hr/></span>

      <span id="statsChars">
        {% for c in stats.char %}
          {% set playcount = (c[1:7]|sum) %}
          {% if playcount > 0 %}
            {% set playpercent = ((1000*(playcount)/stats.count)|int)/10 %}
            {% set cname = intchardata[c[0]]['intname'] %}
            {% if loop.index == 1 %}
              {% set role = "main" %}
            {% elif loop.index <= 3 %}
              {% set role = "second" %}
            {% else %}
              {% set role = "other" %}
            {% endif %}
            <span class="charGrid {{role}}">
              <span class="portrait">
                {% if playpercent < 100 %}
                  {% set click="changeChar("+(c[0]|string)+")" %}
                {% else %}
                  {% set click="changeChar(-1)" %}
                {% endif %}
                <a onclick="{{click}}"><img title="{{ cname }} ({{playpercent}}%)&#10;(Click to filter results by character)" src="{{ url_for('static',filename='icons/css') }}/{{ cname }}{{ c[7] }}.png" /></a>
              </span>
              <span class="playtime">
                {{ playpercent }}%
              </span>
            </span>
          {% endif %}
        {% endfor %}
      </span>

      {# Win / Loss / Draw rate for each matchup #}
      <span id="statsMatchups">
        <table>
          <tr>
            <th>Opponent Char.</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
            <th>Win%</th>
          </tr>
          {% for mu in stats.opp %}
            <tr>
              <td>{{ intchardata[mu[0]]['name'] }}</td>
              <td>{{mu[1]}}</td>
              <td>{{mu[2]}}</td>
              {# <td>{{mu[3]}}</td> #}
              <td>{{ (100*mu[1] / ([mu[1]+mu[2],1] | max)) | int }}%</td>
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Played Opponents #}
      <span id="statsMost">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
          </tr>
          {% for o in stats.top %}
            <tr>
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %}
                {% else %}
                  {% set outcome = "w" %}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %}
                {% else %}
                  {% set outcome = "l" %}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}
              {% endif %}
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}{{DEF_STATS}}">{{ o[3] }}</a></td> #}
              <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}?submit=">{{ o[3] }}</a></td>
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              {# <td>{{ o[2] }}</td> #}
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Recent Opponents #}
      <span id="statsNew">
        <table>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            {# <th>D</th> #}
          </tr>
          {% for o in stats.recent %}
            <tr>
              {% if o[0] > o[1] %}
                {% if o[1] == 0 %}
                  {% set outcome = "p" %}
                {% else %}
                  {% set outcome = "w" %}
                {% endif %}
              {% elif o[1] > o[0] %}
                {% if o[0] == 0 %}
                  {% set outcome = "f" %}
                {% else %}
                  {% set outcome = "l" %}
                {% endif %}
              {% else %}
                {% set outcome = "d" %}
              {% endif %}
              {# <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}{{DEF_STATS}}">{{ o[3] }}</a></td> #}
              <td><a href="/stats/{{ o[3]|replace('#', '_', 1) }}?submit=">{{ o[3] }}</a></td>
              <td>{{ o[4] }}</td>
              <td class="w{{outcome}}">{{ o[0] }}</td>
              <td class="l{{outcome}}">{{ o[1] }}</td>
              {# <td>{{ o[2] }}</td> #}
            </tr>
          {% endfor %}
        </table>
      </span>

      {# Most Recent Games #}
      <span id="statsHistory">
        <div class="barDiv svg-container">
          {% set svg_selector = "div.bardiv" %}
          {% set jsondata     = stats["bydate"] %}
          {% include '_barchart.html.j2' %}
        </div>
      </span>

    </span>

{% endblock %}
