{% extends "header.html.j2" %}

{% block content %}
    <h1>Analysis Missing</h1>
    <h2>It would seem the analysis file for this replay has been deleted.</h2>
    <h3>Trying to regenerate it, please press F5 to refresh the page. :)</h3>
{% endblock %}
