@font-face {
    font-family: Proza;
    src: url("/static/fonts/Proza-Regular.otf") format("opentype");
}

body {
  color            : white;
  background-color : rgba(48,40,48,1.00);
  font-family      : 'Proza';
}

a {
  color: rgba(120,120,255,1.0);
}

a:visited {
  color: rgba(160,0,160,1.0);
}

code {
  display: block;
  text-align: left;
  white-space: pre-wrap;
}

#bodyWrapper {
  height        : auto;
  top           : 65px;
  bottom        : 40px;
  position      : fixed;
  width         : 100%;

  /*overflow-x    : hidden;*/
  overflow-y    : auto;
  padding-right : 15px;
  text-align    : center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#bodyWrapper {
  /*transition: margin-left .5s;*/
  margin-left: 0; /* Same as navbar width */
  /*padding: 20px;*/
  /*margin-left: 50px;*/
  margin-right: 50px;
}

#bodyContainer {
  /* 100% - 2*(min-width of navbar) */
  /*width: calc(100% - 100px); */
  max-width: 1200px;
  width: calc(100% - 55px);
  display: inline-block;
  margin: 0 0 0 45px;
  outline:none; /* Disable border when focused */
}

header {
  height           : 64px;

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : flex;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;
  margin           : 0 auto;

  width            : 100%;
  left             : 50%;
  margin-left      : -50%;

  background-color : black;
  top              : 0;
}

header img {
  height: 48px;
}

footer {
  height           : 36px;

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : flex;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;

  left             : 0;
  /*bottom         : 10px;*/
  bottom           : 0px;
  width            : 100%;
  overflow         :hidden;
  background-color : black;
}

hr {
  border-top: 1px solid rgba(255,255,255,0.2);
  width: 100%;
}

.navbar_top .site_name {
  position       : fixed;
  left           : 64px;
  top            : 12px;

  color          : white;
  font-size      : 32px;
  vertical-align : middle;
  font-family    : 'Proza';
  font-weight    : bold;
}

.navbar_top .site_header_icon {
  position: fixed;
  left: 4px;
  top: 12px;
}

.navbar_top .site_header_icon img {
  max-height: 40px;
}


.navbar_bottom {
  color: white;
}

 /* The side navigation menu */
.sidenav {
  height           : calc(100% - 160px); /* 100% - [height of header and footer] - [padding-top] */
  width            : 50px; /* 0 width - change this with JavaScript */
  position         : fixed; /* Stay in place */
  z-index          : 1; /* Stay on top */
  top              : 64px; /* Stay at the top */
  left             : 0;
  background-color : rgba(0,0,0,0.85);
  overflow-x       : hidden; /* Disable horizontal scroll */
  padding-top      : 60px; /* Place content 60px from the top */
  transition       : 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.open {
  width: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding         : 8px 8px 8px 8px;
  text-decoration : none;
  font-size       : 25px;
  color           : #818181;
  display         : block;
  transition      : 0.3s;
}

.sidenav a.nav_side_link:hover {
  transform       : translateX(4px) scale(1.25);
}

/* When you mouse over the navigation links, change their color */
.sidenav.open a.nav_side_link:hover {
  color: #f1f1f1;
  transform       : translateX(30px);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position    : absolute;
  top         : 0;
  right       : 5px;
  font-size   : 36px;
  margin-left : 50px;
}

.sidenav .nav_side_link {
  /*display: inline-flex;  Makes everything line up magically? */
  display: flex; /* Makes everything line up magically? */
}

.sidenav .nav_side_label {
  transition: 0.3s;
  opacity: 0;
}

.sidenav.open .nav_side_label {
  opacity: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1200px) {
  .nav_top_link {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sidenav {
    display: none;
  }
}

/* https://css-tricks.com/removing-the-dotted-outline/ */
a {
   outline: 0;
}

.nav_side_link img {
  min-width    : 32px;
  min-height   : 32px;
  max-width    : 32px;
  max-height   : 32px;
  margin-right : 8px;
}

.nav_side_link label {
  white-space : nowrap;
  display     : inline;
  color       : white;
  cursor      : pointer;
}

.left_aligned {
  text-align: left;
}

img.cv_icon {
  max-height: 64px;
  max-width: 64px;
}

span.cv_icon_wrapper {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 0 2px;
  max-width: 80px;
  flex: 1;
}

span.flex-row {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

img.dead {
  opacity: 0.3;
}

td.stage {
  /*display:block;*/
  width:200px;
  height:25px;
  /*object-fit: cover;*/
  background-position: -25px -60px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

span.stacked-bar-graph span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 10px 0;
}

tr.padrow {
  height: 20px;
}

td.align-left {
  text-align: left;
}
td.align-center {
  text-align: center;
}
td.align-right {
  text-align: right;
}

.interaction {
  transition: opacity 0.5s;
  opacity: 0.3;
}
.interaction:hover {
  opacity: 1.0;
}
.int_EDGEGUARDING { background-image: linear-gradient(to top, indigo,     indigo     33%, lime           34%); }
.int_TECHCHASING  { background-image: linear-gradient(to top, darkorchid, darkorchid 33%, lime           34%); }
.int_PUNISHING    { background-image: linear-gradient(to top, blue,       blue       33%, lime           34%); }
.int_SHARKING     { background-image: linear-gradient(to top, cyan,       cyan       33%, lime           34%); }
.int_PRESSURING   { background-image: linear-gradient(to top, green,      green      33%, lime           34%); }
.int_FOOTSIES     { background-image: linear-gradient(to top, darkgray,   darkgray   33%, lightsteelblue 34%); }
.int_POSITIONING  { background-image: linear-gradient(to top, white,      white      33%, lightsteelblue 34%); }
.int_POKING       { background-image: linear-gradient(to top, gray,       gray       33%, lightsteelblue 34%); }
.int_TRADING      { background-image: linear-gradient(to top, lightgray,  lightgray  33%, lightsteelblue 34%); }
.int_PRESSURED    { background-image: linear-gradient(to top, gold,       gold       33%, hotpink        34%); }
.int_GROUNDING    { background-image: linear-gradient(to top, olive,      olive      33%, hotpink        34%); }
.int_PUNISHED     { background-image: linear-gradient(to top, orange,     orange     33%, hotpink        34%); }
.int_ESCAPING     { background-image: linear-gradient(to top, red,        red        33%, hotpink        34%); }
.int_RECOVERING   { background-image: linear-gradient(to top, brown,      brown      33%, hotpink        34%); }

.int_OFFENSIVE    { background-color: black; }
.int_NEUTRAL      { background-color: black; }
.int_DEFENSIVE    { background-color: black; }

table#replayListing {
  grid-area: overview;
}

div.comboGrid {
  display: grid;
  /*grid-column-gap: 0;*/
  /*grid-row-gap: 0;*/
  grid-auto-rows: min-content;
}

div#replayPlayer1Grid div.comboGrid {
  grid-area: movelist1;
  grid-template-columns: 25px 1fr;
}

div#replayPlayer2Grid div.comboGrid {
  grid-area: movelist2;
  grid-template-columns: 1fr 25px;
}

div#replayDataOuterGrid {
  /*max-width: 1200px;*/
  grid-template-columns: 0.5fr 1fr 0.5fr;
  display: grid;
  grid-template-areas:
    "overview overview  overview"
    "p1grid   innergrid p2grid"
}

div#replayPlayer1Grid, div#replayPlayer2Grid {
  max-width: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32px auto;
}
div#replayPlayer1Grid {
  grid-area: p1grid;
  grid-template-areas:
    "moves1"
    "movelist1"
    ;
}

div#replayPlayer2Grid {
  grid-area: p2grid;
  grid-template-areas:
    "moves2"
    "movelist2"
    ;
}

div#replayDataGrid {
  height: 0;
  margin: 0 24px;
  max-width: 600px;
  display: grid;
  grid-area: innergrid;
  grid-template-areas:
    "overview      overview     overview"
    "stocks1       stocks       stocks2"
    "percent1      percent      percent2"
    "airborne1     airborne     airborne2"
    "ledgegrabs1   ledgegrabs   ledgegrabs2"

    "interactions  interactions interactions"
    "EDGEGUARDING1 EDGEGUARDING EDGEGUARDING2"
    "TECHCHASING1  TECHCHASING  TECHCHASING2"
    "PUNISHING1    PUNISHING    PUNISHING2"
    "SHARKING1     SHARKING     SHARKING2"
    "PRESSURING1   PRESSURING   PRESSURING2"
    "FOOTSIES1     FOOTSIES     FOOTSIES2"
    "POSITIONING1  POSITIONING  POSITIONING2"
    "POKING1       POKING       POKING2"
    /*"TRADING1      TRADING      TRADING2"*/
    /*"PRESSURED1    PRESSURED    PRESSURED2"*/
    /*"GROUNDING1    GROUNDING    GROUNDING2"*/
    /*"PUNISHED1     PUNISHED     PUNISHED2"*/
    /*"ESCAPING1     ESCAPING     ESCAPING2"*/
    /*"RECOVERING1   RECOVERING   RECOVERING2"*/

    "neutral       neutral      neutral"
    "neutwins1     neutwins     neutwins2"
    "counters1     counters     counters2"
    "pokes1        pokes        pokes2"
    "reversals1    reversals    reversals2"
    "dashdances1   dashdances   dashdances2"
    "shorthops1    shorthops    shorthops2"
    "fullhops1     fullhops     fullhops2"

    "offense       offense      offense"
    "damage1       damage       damage2"
    "moveslanded1  moveslanded  moveslanded2"
    "stabs1        stabs        stabs2"
    "breaks1       breaks       breaks2"
    "grabs1        grabs        grabs2"
    "stagespikes1  stagespikes  stagespikes2"

    "defense       defense      defense"
    "airdodges1    airdodges    airdodges2"
    "spotdodges1   spotdodges   spotdodges2"
    "rolls1        rolls        rolls2"
    "escapes1      escapes      escapes2"
    "shields1      shields      shields2"
    "powershields1 powershields powershields2"
    "techs1        techs        techs2"
    "walltechs1    walltechs    walltechs2"
    "jumptechs1    jumptechs    jumptechs2"

    "tech          tech         tech"
    "lcancel1      lcancel      lcancel2"
    "techhit1      techhit      techhit2"
    "wavedashes1   wavedashes   wavedashes2"
    "wavelands1    wavelands    wavelands2"
    "shielddrops1  shielddrops  shielddrops2"
    "nils1         nils         nils2"
    "pivots1       pivots       pivots2"
    "ecaerials1    ecaerials    ecaerials2"
    "ecspecials1   ecspecials   ecspecials2"
    "mcancels1     mcancels     mcancels2"

    "misc          misc         misc"
    "taunts1       taunts       taunts2"
    "phantoms1     phantoms     phantoms2"
    "sds1          sds          sds2"


    ;
}

div#replayDataOuterGrid div.heading {
  font-weight: bold;
  background-color: rgba(0,0,0,0.25);
  border: 1px solid steelblue;
  border-radius: 25px;
  margin: 5px 0;
  padding: 0;
}

.hl-green { background-color: rgba(128,255,128,0.25); }
.hl-red { background-color: rgba(255,128,128,0.25); }

img.killicon {
  width: 16px;
}

span.comboWrapper {
  /*display: inline-block;*/
  /*background-color: yellow;*/
  padding: 6px 16px;
  align-self: center;
  justify-self: center;
}

span.comboResult {
  align-self: center;
  justify-self: center;
}

span.combomoveWrapper {
  display: inline-block;
  transform: skewX(-10deg);
  /*border: 1px solid black;*/
  border: 1px solid slateblue;
  /*border-radius: 4px;*/
  padding: 2px 8px;
  margin: -1px -2px 0 -2px;
}

span.combomove {
  transform: skewX(10deg);
  display: inline-block;
  white-space: nowrap;
  /*margin: 1px 0;*/
  /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
  /*line-height: 32px;*/
}

div.empty {
  height: 8px;
}

span.combomove img {
  white-space:nowrap;
}

span.bigcombo {
  color: yellow;
  font-weight: bold;
}

span.hugecombo {
  color: red;
  font-weight: bold;
}
