@font-face {
    font-family: Proza;
    src: url("/static/fonts/Proza-Regular.otf") format("opentype");
}

:root {
  --form-fg:            rgba(255,255,255,1);
  --form-bg:            rgba(24,20,24,1.00);
  --form-fg-disabled:   rgba(255,255,255,0.5);
  --form-bg-disabled:   rgba(24,20,24,0.5);
  --form-border:        rgba(128,128,128,1);
  --form-border-hl:     rgba(128,128,255,1);
  --form-border-focus:  rgba(128,220,160,1);

  --css-dropdown-width:   300px;
  --stage-dropdown-width: 450px;
}

body {
  color            : white;
  background-color : rgba(48,40,48,1.00);
  font-family      : 'Proza';
}

a {
  color: rgba(120,120,255,1.0);
  outline: 0;
}

/* Get rid of dotted line on focus */
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

a:visited {
  color: rgba(160,0,160,1.0);
}

code {
  display: block;
  text-align: left;
  white-space: pre-wrap;
}

form {
  margin: 0;
}

input, button, .fake-button {
  height: 32px;
  color: var(--form-fg);
  background-color: var(--form-bg);
  text-align: center;
  border-top    : none;
  border-bottom : none;
  border-right  : 4px solid var(--form-border);
  border-left   : 4px solid var(--form-border);
  border-radius : 4px;
  margin: 4px 0;
  cursor: pointer;
  font-weight: bold;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button.hasinfo, button.hasinfo:disabled {
  cursor: help;
}

button.hasinfo::after {
  /*content: " \25b6";*/
  content: "*";
  /*border-left: 1px solid rgba(255,255,255,0.25);*/
  padding: 0 4px;
  /*margin-left: 4px;*/
}

input:disabled, button:disabled {
  color: var(--form-fg-disabled);
  background-color: var(--form-bg-disabled);
}

input:hover:enabled, button:hover:enabled {
  border-color: var(--form-border-hl);
}

input:enabled:focus, button:enabled:focus, input:hover:enabled:focus, button:hover:enabled:focus {
  border-top:    1px dashed var(--form-border-focus);
  border-bottom: 1px dashed var(--form-border-focus);
  border-color: var(--form-border-focus);
}

button:disabled {
  cursor: default;
}

button.has-dropdown::after {
  content : "\25BC";
  display : inline-block;
  width   : 20px;
  color   : lightslategray;
}

button.has-dropdown.noarrow::after {
  content: none;
}

input[type="submit"], .fake-submit {
  font-weight: bold;
  color: var(--form-bg);
  background-color: var(--form-fg);
  /*border-right  : 4px solid var(--form-border);*/
  /*border-left   : 4px solid var(--form-border);*/
}

input[type="submit"]:disabled, .fake-submit:disabled {
  color: var(--form-bg-disabled);
  background-color: var(--form-fg-disabled);
  cursor: default;
}


input[type="text"]::placeholder {
  /*color: rgba(255,255,255,0.75);*/
  font-weight: bold;
  opacity: 1;
}

input[type="text"].placeholderLabel::placeholder {
  text-align: center;
  font-size: 20px;
}

input[type="text"]:focus {
  cursor: initial;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

button img {
  max-height: 100%;
}

#bodyWrapper {
  height        : auto;
  top           : 65px;
  bottom        : 40px;
  position      : fixed;
  width         : 100%;

  /*overflow-x    : hidden;*/
  overflow-y    : auto;
  padding-right : 15px;
  text-align    : center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#bodyWrapper {
  /*transition: margin-left .5s;*/
  margin-left: 0; /* Same as navbar width */
  /*padding: 20px;*/
  /*margin-left: 50px;*/
  margin-right: 50px;
}

#bodyContainer {
  /* 100% - 2*(min-width of navbar) */
  /*width: calc(100% - 100px); */
  max-width: 1200px;
  width: calc(100% - 55px);
  /*display: inline-block;*/ /* Causes rendering issues */
  display: inline;
  margin: 0;
  outline:none; /* Disable border when focused */
}

header {
  height           : 64px;

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : flex;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;
  margin           : 0 auto;

  width            : 100%;
  left             : 50%;
  margin-left      : -50%;

  background-color : black;
  top              : 0;
}

header img {
  height: 48px;
}

footer {
  height           : 36px;

  /*http           ://stackoverflow.com/questions/30548678/header-height-to-fit-background-image*/
  position         : fixed;
  display          : flex;
  flex-flow        : column nowrap;
  justify-content  : space-around;
  align-items      : center;
  align-content    : space-around;

  left             : 0;
  /*bottom         : 10px;*/
  bottom           : 0px;
  width            : 100%;
  overflow         :hidden;
  background-color : black;
}

hr {
  border-top: 1px solid rgba(255,255,255,0.2);
  width: 100%;
}

.ni-home img { filter: drop-shadow(0px 0px 5px cyan)   drop-shadow(0px 0px 1px lightgray) ; }
.ni-mu   img { filter: drop-shadow(0px 0px 5px red)    drop-shadow(0px 0px 1px lightgray) ; }

.navbar_top .site_name {
  position       : fixed;
  left           : 48px;
  top            : 12px;

  color          : white;
  font-size      : 32px;
  vertical-align : middle;
  font-family    : 'Proza';
  font-weight    : bold;
}

.navbar_top .site_header_icon {
  position: fixed;
  left: 4px;
  top: 12px;
  filter: drop-shadow(0px 0px 5px white)    drop-shadow(0px 0px 1px lightgray) ;
}

.navbar_top .site_header_icon img {
  max-height: 40px;
}

.navbar_bottom {
  color: white;
}

 /* The side navigation menu */
.sidenav {
  height           : calc(100% - 160px); /* 100% - [height of header and footer] - [padding-top] */
  width            : 50px; /* 0 width - change this with JavaScript */
  position         : fixed; /* Stay in place */
  z-index          : 1; /* Stay on top */
  top              : 64px; /* Stay at the top */
  left             : 0;
  background-color : rgba(0,0,0,0.85);
  overflow-x       : hidden; /* Disable horizontal scroll */
  padding-top      : 60px; /* Place content 60px from the top */
  transition       : 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.open {
  width: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding         : 8px 8px 8px 8px;
  text-decoration : none;
  font-size       : 25px;
  color           : #818181;
  display         : block;
  transition      : 0.3s;
}

.sidenav a.nav_side_link:hover {
  transform       : translateX(4px) scale(1.25);
}

/* When you mouse over the navigation links, change their color */
.sidenav.open a.nav_side_link:hover {
  color: #f1f1f1;
  transform       : translateX(30px);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position    : absolute;
  top         : 0;
  right       : 5px;
  font-size   : 36px;
  margin-left : 50px;
}

.sidenav .nav_side_link {
  /*display: inline-flex;  Makes everything line up magically? */
  display: flex; /* Makes everything line up magically? */
}

.sidenav .nav_side_label {
  transition: 0.3s;
  opacity: 0;
}

.sidenav.open .nav_side_label {
  opacity: 1;
}

.nav_top_label {
  margin: 0 10px;
}

a.nav_top_link {
  display: inline-grid;
  grid-template-areas: "icon label";
  margin: 0 10px;
}
a.nav_top_link img   {
  grid-area: icon;
}
a.nav_top_link label {
  grid-area      : label;
  align-self     : center;
  color          : white;
  font-size      : 24px;
  vertical-align : middle;
  font-family    : 'Proza';
  font-weight    : bold;
  /*font-style     : italic;*/
  cursor         : pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1200px) {
  a.nav_top_link, label.nav_top_label {
    display: none;
  }
  #bodyContainer {
    margin: 0 0 0 45px;  /* Adjust margin to account for sidenav */
  }
}

@media screen and (min-width: 1200px) {
  .sidenav {
    display: none;
  }
}

/* https://css-tricks.com/removing-the-dotted-outline/ */
a {
   outline: 0;
}

.nav_side_link img {
  min-width    : 32px;
  min-height   : 32px;
  max-width    : 32px;
  max-height   : 32px;
  margin-right : 8px;
}

.nav_side_link label {
  white-space : nowrap;
  display     : inline;
  color       : white;
  cursor      : pointer;
}

.left_aligned {
  text-align: left;
}

img.cv_icon {
  max-height: 64px;
  max-width: 64px;
}

span.cv_icon_wrapper {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 0 2px;
  max-width: 80px;
  flex: 1;
}

span.flex-row {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

img.dead {
  opacity: 0.3;
}

td.stage {
  /*display:block;*/
  width:200px;
  height:25px;
  /*object-fit: cover;*/
  background-position: -25px -60px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

span.stacked-bar-graph span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 10px 0;
}

tr.padrow {
  height: 20px;
}

td.align-left {
  text-align: left;
}
td.align-center {
  text-align: center;
}
td.align-right {
  text-align: right;
}

.interaction {
  transition: opacity 0.5s;
  opacity: 0.3;
}
.interaction:hover {
  opacity: 1.0;
}
.int_EDGEGUARDING { background-image: linear-gradient(to top, indigo,     indigo     33%, lime           34%); }
.int_TECHCHASING  { background-image: linear-gradient(to top, darkorchid, darkorchid 33%, lime           34%); }
.int_PUNISHING    { background-image: linear-gradient(to top, blue,       blue       33%, lime           34%); }
.int_SHARKING     { background-image: linear-gradient(to top, cyan,       cyan       33%, lime           34%); }
.int_PRESSURING   { background-image: linear-gradient(to top, green,      green      33%, lime           34%); }
.int_FOOTSIES     { background-image: linear-gradient(to top, darkgray,   darkgray   33%, lightsteelblue 34%); }
.int_POSITIONING  { background-image: linear-gradient(to top, white,      white      33%, lightsteelblue 34%); }
.int_POKING       { background-image: linear-gradient(to top, gray,       gray       33%, lightsteelblue 34%); }
.int_TRADING      { background-image: linear-gradient(to top, lightgray,  lightgray  33%, lightsteelblue 34%); }
.int_PRESSURED    { background-image: linear-gradient(to top, gold,       gold       33%, hotpink        34%); }
.int_GROUNDING    { background-image: linear-gradient(to top, olive,      olive      33%, hotpink        34%); }
.int_PUNISHED     { background-image: linear-gradient(to top, orange,     orange     33%, hotpink        34%); }
.int_ESCAPING     { background-image: linear-gradient(to top, red,        red        33%, hotpink        34%); }
.int_RECOVERING   { background-image: linear-gradient(to top, brown,      brown      33%, hotpink        34%); }

.int_OFFENSIVE    { background-color: black; }
.int_NEUTRAL      { background-color: black; }
.int_DEFENSIVE    { background-color: black; }

span#replayListing {
  display: grid;
  grid-template-areas:
    /*"overview overview  overview"*/
    "p1grid   innergrid p2grid"
}

div#replayDataOuterGrid span.replaySummary {
  grid-area: mini;
  justify-self: center;
}

span#intBreakdown {
  grid-area: breakdown;
}

div.comboGrid {
  display: grid;
  /*grid-column-gap: 0;*/
  /*grid-row-gap: 0;*/
  grid-auto-rows: min-content;
}

div#replayPlayer1Grid div.comboGrid {
  grid-area: movelist1;
  grid-template-columns: 25px 1fr;
}

div#replayPlayer2Grid div.comboGrid {
  grid-area: movelist2;
  grid-template-columns: 1fr 25px;
}

div#replayDataOuterGrid {
  /*max-width: 1200px;*/
  grid-template-columns: 0.5fr 1fr 0.5fr;
  display: inline-grid;
  grid-template-areas:
    ".         mini      ."
    "breakdown breakdown breakdown"
    "p1grid    innergrid  p2grid"
}

div#replayPlayer1Grid, div#replayPlayer2Grid {
  max-width: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32px auto;
}
div#replayPlayer1Grid {
  grid-area: p1grid;
  grid-template-areas:
    "moves1"
    "movelist1"
    ;
}

div#replayPlayer2Grid {
  grid-area: p2grid;
  grid-template-areas:
    "moves2"
    "movelist2"
    ;
}

div#replayDataGrid {
  height: 0;
  margin: 0 24px;
  max-width: 600px;
  display: grid;
  grid-area: innergrid;
  grid-template-areas:
    "overview      overview     overview"
    "stocks1       stocks       stocks2"
    "percent1      percent      percent2"
    "airborne1     airborne     airborne2"
    "ledgegrabs1   ledgegrabs   ledgegrabs2"

    "interactions  interactions interactions"
    "EDGEGUARDING1 EDGEGUARDING EDGEGUARDING2"
    "TECHCHASING1  TECHCHASING  TECHCHASING2"
    "PUNISHING1    PUNISHING    PUNISHING2"
    "SHARKING1     SHARKING     SHARKING2"
    "PRESSURING1   PRESSURING   PRESSURING2"
    "FOOTSIES1     FOOTSIES     FOOTSIES2"
    "POSITIONING1  POSITIONING  POSITIONING2"
    "POKING1       POKING       POKING2"
    /*"TRADING1      TRADING      TRADING2"*/
    /*"PRESSURED1    PRESSURED    PRESSURED2"*/
    /*"GROUNDING1    GROUNDING    GROUNDING2"*/
    /*"PUNISHED1     PUNISHED     PUNISHED2"*/
    /*"ESCAPING1     ESCAPING     ESCAPING2"*/
    /*"RECOVERING1   RECOVERING   RECOVERING2"*/

    "neutral        neutral       neutral"
    "neutwins1      neutwins      neutwins2"
    "counters1      counters      counters2"
    "pokes1         pokes         pokes2"
    "reversals1     reversals     reversals2"
    "dashdances1    dashdances    dashdances2"
    "shorthops1     shorthops     shorthops2"
    "fullhops1      fullhops      fullhops2"

    "offense        offense       offense"
    "openings1      openings      openings2"
    "mop1           mop           mop2"
    "mko1           mko           mko2"
    "mkp1           mkp           mkp2"
    "damage1        damage        damage2"
    "moveslanded1   moveslanded   moveslanded2"
    "stabs1         stabs         stabs2"
    "breaks1        breaks        breaks2"
    "grabs1         grabs         grabs2"
    "stagespikes1   stagespikes   stagespikes2"

    "defense        defense       defense"
    "airdodges1     airdodges     airdodges2"
    "spotdodges1    spotdodges    spotdodges2"
    "rolls1         rolls         rolls2"
    "escapes1       escapes       escapes2"
    "shields1       shields       shields2"
    "powershields1  powershields  powershields2"
    "techs1         techs         techs2"
    "walltechs1     walltechs     walltechs2"
    "jumptechs1     jumptechs     jumptechs2"
    "shield_time1   shield_time   shield_time2"
    "shield_damage1 shield_damage shield_damage2"
    "shield_lowest1 shield_lowest shield_lowest2"

    "tech           tech          tech"
    "lcancel1       lcancel       lcancel2"
    "techhit1       techhit       techhit2"
    "wavedashes1    wavedashes    wavedashes2"
    "wavelands1     wavelands     wavelands2"
    "shielddrops1   shielddrops   shielddrops2"
    "nils1          nils          nils2"
    "pivots1        pivots        pivots2"
    "ecaerials1     ecaerials     ecaerials2"
    "ecspecials1    ecspecials    ecspecials2"
    "tcaerials1     tcaerials     tcaerials2"
    "tcspecials1    tcspecials    tcspecials2"
    "mcancels1      mcancels      mcancels2"
    "ledgedashes1   ledgedashes   ledgedashes2"
    "galint1        galint        galint2"

    "misc           misc          misc"
    "taunts1        taunts        taunts2"
    "phantoms1      phantoms      phantoms2"
    "sds1           sds           sds2"


    ;
}

div#replayDataOuterGrid div.heading {
  font-weight: bold;
  background-color: rgba(0,0,0,0.25);
  border: 1px solid steelblue;
  border-radius: 25px;
  margin: 5px 0;
  padding: 0;
}

.hl-green { background-color: rgba(128,255,128,0.25); }
.hl-red { background-color: rgba(255,128,128,0.25); }

img.killicon {
  width: 16px;
}

span.comboWrapper {
  /*display: inline-block;*/
  /*background-color: yellow;*/
  padding: 6px 16px;
  align-self: center;
  justify-self: center;
}

span.comboResult {
  align-self: center;
  justify-self: center;
}

span.combomoveWrapper {
  display: inline-block;
  transform: skewX(-10deg);
  /*border: 1px solid black;*/
  border: 1px solid slateblue;
  /*border-radius: 4px;*/
  padding: 2px 8px;
  margin: -1px -2px 0 -2px;
}

span.combomove {
  transform: skewX(10deg);
  display: inline-block;
  white-space: nowrap;
  /*margin: 1px 0;*/
  /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
  /*line-height: 32px;*/
}

div.empty {
  height: 8px;
}

span.combomove img {
  white-space:nowrap;
}

span.bigcombo {
  color: yellow;
  font-weight: bold;
}

span.hugecombo {
  color: red;
  font-weight: bold;
}

span.replaySummary {
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 8px;
  margin: 10px;
  display: inline-grid;
  grid-template-areas:
    "p1tag    stagegrid p2tag"
    "p1stats  stagegrid p2stats"
    "p1stats  .         p2stats"
    ;
}

span.replaySummary:hover {
  border: 4px solid var(--form-border-hl);
}

span.replayHoverWrapper {
  display: inline-block;
  /*overflow: hidden;*/
}

span.replayHoverWrapper:hover span.replayStageGrid {
  /*transform: scale(1.1);*/
  /*pointer-events: none;*/
}

span.replayStageGrid {
  /*transition: 0.1s ease;*/
  width:  250px;
  height: 150px;
  /*background-color: gray;*/
  /*background-blend-mode: multiply;*/
  grid-area: stagegrid;
  display: inline-grid;
/*  grid-template-areas:
    "filename filename filename filename filename filename filename"
    "p1char   p1tag    p1tag    p1tag    p1tag    p1tag    p2char"
    "p1char   p2tag    p2tag    p2tag    p2tag    p2tag    p2char"
    "p1win    .        timer    timer    timer    .        p2win"
    "p1stocks p1stocks p1stocks vs       p2stocks p2stocks p2stocks"
    ;*/
  /*grid-template-areas:
    "filename filename filename filename filename filename filename"
    "p1char   p1win    .        .        .        p2win    p2char"
    "p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"
    "p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"
    "p1stocks p1stocks p1stocks vs       p2stocks p2stocks p2stocks"
    ;*/
  grid-template-areas:
    "filename filename filename filename filename filename filename"
    "p1char   .        .        .        .        .        p2char"
    /*"p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"*/
    "p1tag    p1tag    p1tag    .        p2tag    p2tag    p2tag"
    "p1stocks p1stocks p1stocks vs       p2stocks p2stocks p2stocks"
    ;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 50px;
  font-size: 14px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    /*cursor: auto;*/
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    /*cursor: auto;*/
}

span.rs-timer, span.rs-filename, span.rs-tag1, span.rs-tag2 {
  text-shadow:
    -1px -1px 1px rgba(0,0,0,0.8),
     1px -1px 1px rgba(0,0,0,0.8),
    -1px  1px 1px rgba(0,0,0,0.8),
     1px  1px 1px rgba(0,0,0,0.8),
    -1px -1px 3px rgba(0,0,0,0.8),
     1px -1px 3px rgba(0,0,0,0.8),
    -1px  1px 3px rgba(0,0,0,0.8),
     1px  1px 3px rgba(0,0,0,0.8);
 }

span.rs-timer {
  grid-area: timer;
}

span.rs-filename {
  grid-area        : filename;
  width            : 240px;
  padding          : 0 5px;
  white-space      : nowrap;
  overflow         : hidden;
  text-overflow    : ellipsis;
  justify-self     : center;
  background-image : linear-gradient(to bottom, rgba(0,0,0,0.65), transparent);
}

span.rs-vs      { grid-area: vs; }
span.rs-stocks1 { grid-area: p1stocks; }
span.rs-stocks2 { grid-area: p2stocks; }
span.rs-stocks1, span.rs-stocks2, span.rs-vs {
  align-self: end;
}

span.rs-stocks1 img.dead, span.rs-stocks2 img.dead {
  /*opacity: 1.0;*/
  /*filter: none;*/
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

span.rs-tag1, span.rs-tag2 {
  /*background-color: black;*/
  align-self: center;
  padding: 4px 2px;
  white-space: nowrap;

  /*width: 250px;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

img.rs-win1, img.rs-win2 {
  height: 24px;
}
img.rs-win1 { grid-area: p1win; align-self: center; justify-self: center; -webkit-transform: scaleX(-1); transform: scaleX(-1); }
img.rs-win2 { grid-area: p2win; align-self: center; justify-self: center; }

span.rs-tag1 { grid-area: p1tag; text-align: left; }
span.rs-tag2 { grid-area: p2tag; text-align: right; }

span.rs-char1 img, span.rs-char2 img {
  width:  auto;
  height: 80px;
}
span.rs-char1 { grid-area: p1char; justify-self: start; }
span.rs-char2 { grid-area: p2char; justify-self: end; -webkit-transform: scaleX(-1); transform: scaleX(-1); }

span.op-EDGEGUARDING { background-color: rgba(128,255,128,0.45); }
span.op-PRESSURING   { background-color: rgba(255,255,128,0.45); }
span.op-PUNISHING    { background-color: rgba(255,128,128,0.45); }
span.op-TECHCHASING  { background-color: rgba(255,128,255,0.45); }
span.op-SHARKING     { background-color: rgba(128,128,255,0.45); }

span.op-POKING       { background-color: rgba(128,128,128,0.45); }
span.op-POSITIONING  { background-color: rgba(128,128,128,0.45); }

span.op-RECOVERING   { background-color: rgba(255,192,192,0.45); }
span.op-PRESSURED    { background-color: rgba(255,192,192,0.45); }
span.op-PUNISHED     { background-color: rgba(255,192,192,0.45); }
span.op-ESCAPING     { background-color: rgba(255,192,192,0.45); }
span.op-GROUNDING    { background-color: rgba(255,192,192,0.45); }

.dd-selected {
  padding: 4px !important;
}
.dd-option-image, .dd-selected-image {
  height: 24px;
  float: none !important;
  margin-right: 0 !important;
}
.dd-selected-text {
  line-height: inherit !important;
  vertical-align: bottom;
}

#charDropDown1, #charDropDown2, #stageDropDown {
  display: inline-block;
  vertical-align: bottom;
}

span.dd-pointer-down {
  border: none !important;
}

.hideUntilParentClicked {
  /*display: inline-block;*/
  /*visibility: hidden;*/

  /*opacity: 0;*/
  /*opacity: 0;*/
  display: none;
}

.hideUntilParentClicked.unhiding {
  display: initial;
  opacity: 0;
  /*width: 0px;*/
  /*height: 0px;*/
  overflow: hidden;
  transition: opacity 0.7s ease;
}

.hideUntilParentClicked.unhiding.noLongerHidden {
  opacity: 1;
  /*width: initial;*/
  /*height: initial;*/
  overflow: initial;
}

#replaySearchBar {
  display: inline-block;
}

#replayListingGrid {
  display: grid;
  grid-template-areas:
    "previous search  next"
    "replays  replays replays"
    ;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 15px;
}

#replayListingGrid #prev { grid-area: previous; justify-self: right; }
#replayListingGrid #next { grid-area: next;     justify-self: left; }

#replayListingGrid span#replaySearchBar {
  grid-area: search;
}

#replayListingGrid span#replayListingInnerGrid {
  grid-area: replays;
}

form#searchForm {
  display: inline-grid;
  grid-template-areas:
    "search search search submit"
    "p1     stage  p2     sort"
    ;
}

form#searchForm.clicked {
  grid-column-gap: 10px;
}

form#searchForm #s-query { grid-area: search; }
form#searchForm #s-p1 { grid-area: p1; }
form#searchForm #s-p2 { grid-area: p2; }
form#searchForm #s-stage { grid-area: stage; }
form#searchForm #s-sort { grid-area: sort; }
form#searchForm #s-submit { grid-area: submit; }

/* Magic dropdown CSS */
.dropdown-wrapper {
  position: relative; /* Give the dropdown somewhere to be positioned relative to */
}
.dropdown {
  opacity        : 0;                 /* Hide ourselves */
  pointer-events : none;              /* Make sure we can't interact with the dropdown while it's not visible */
  position       : absolute;          /* Position it relative to the dropdown-wrapper */
  z-index        : 5;                 /* Make sure we're above most other things */
  top            : 100%;              /* By default, start it right under our parent */
  transition     : opacity 0.3s ease; /* Add a nice transition :) */
  background-color      : black;
  display               : inline-grid;
  align-items           : center;
  justify-items         : center;
}
.has-dropdown:focus+.dropdown {
  opacity: 1;              /* Restore visibility */
  pointer-events: initial; /* Restore pointer events */
}
.dropdown:hover {
  /* MAGIC! We have pointer events while our has-dropdown sibling is focused,
     but we can retain them after unfocusing the has-dropdown siblings with this magic pseudoselector.
     Minor problem: pointer events are retained after we click on something until we move the mouse*/
  opacity: 1;
  pointer-events: initial;
}

.css-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);

  height                : 100px;
  grid-template-columns : repeat(9, 1fr);
}

.css-dropdown img {
  cursor: pointer;
}

.stage-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--stage-dropdown-width)/2);
  width                 : var(--stage-dropdown-width);

  grid-template-columns : repeat(3, 1fr);
  height                : calc(var(--stage-dropdown-width) * 0.5);
}

.stage-dropdown img {
  cursor: pointer;
  width: calc(var(--stage-dropdown-width) / 4);
  border: 4px solid rgba(255,255,255,0.2);
  border-radius: 4px;
}

.sort-dropdown {
  /*Center under parent*/
  left                  : calc(50% - var(--css-dropdown-width)/2);
  width                 : var(--css-dropdown-width);

  grid-template-columns : repeat(1, 1fr);
}

.sort-dropdown span {
  width         : 100%;
  padding       : 10px 0;
  font-weight   : bold;
  cursor        : pointer;
  border-bottom : 1px solid rgba(255,255,255,0.5)
}

.sort-dropdown span:last-child {
  border-bottom: none;
}

span#uploadOuterGrid {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
  border: 4px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  display: inline-grid;
  grid-template-areas:
    "title"
    "limit"
    "innergrid"
    ;
}

span#uploadOuterGrid span.title {
  grid-area: title;
  font-size: 28px;
}
span#uploadOuterGrid span.subtitle {
  grid-area: limit;
  font-size: 16px;
  margin-bottom: 16px;
}

span#uploadGrid {
  grid-area: innergrid;
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  align-items           : center;
  justify-items         : center;
  column-gap: 24px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  position  : absolute;
  left      : 0;
  top       : 0;
  opacity   : 0;
  cursor: pointer;
}

a.nostyle.replay-link {
  font-weight: bold;
  color: lime;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  padding: 2px;
}

a.nostyle.replay-link::after {
  content: "\2b00";
  border-left: 1px solid rgba(255,255,255,0.25);
  padding: 0 4px;
  margin-left: 4px;
}
