{% extends "header.html.j2" %}

{% block content %}
    <h1>An unexpected error has occurred</h1>
    <h3>Error</h3>
    <span class="errorblock">
      <code>{{error}}</code>
    </span>
    <h3>Traceback</h3>
    <span class="errorblock">
      <code>{{trace}}</code>
    </span>
{% endblock %}
